[2022-08-03 20:57] annelo-msft commented on #2487
Supporting this on the client would mean doing client-side validation, so we will not support this decorator at present.

[2022-08-03 20:57] #2487 closed

[2022-08-03 20:58] annelo-msft commented on #2486
Supporting this on the client would mean doing client-side validation, so we will not support this decorator at present.

[2022-08-03 20:58] #2486 closed

[2022-08-03 20:58] annelo-msft commented on #2487
@AlexanderSher FYI

[2022-08-03 20:58] annelo-msft commented on #2486
@AlexanderSher FYI

[2022-08-04 00:15] annelo-msft commented on #2515
We made the decision to keep collection properties read-only for now.  It's possible we will revisit this prior to DPG 2.0 GA, based on what we learn during that time.

The primary reason is that once we make collections settable, any type of collection can be assigned.  If we wanted to use special collection types, e.g. to track changes made to collections, we wouldn't be able to do this reliably

[2022-08-04 00:15] #2515 closed

[2022-08-04 00:52] annelo-msft commented on #2513
One proposal, per @KrzysztofCwalina is:

We could also use some heuristics, e.g.
1.	If collection of bytes => BinaryData
2.	If collection of primitives => T[] or Memory\<T\>
3.	if collection of structs =>  T[] or Memory\<T\> (?)
4.	otherwise => IList\<T\>

This could look like:
[RoundTripModel.cs](https://github.com/annelo-msft/azure-sdk-for-net/blob/cadl-models-value-type-collections/sdk/template

[2022-08-04 04:20] AlexanderSher opened #2535 "Correctly use enums in protocol method generation"
Right now, RestClientBuilder generates methods with string and int parameters instead of enums because `TypeFactory.CreateType` incorrectly resolves type for enums:
https://github.com/Azure/autorest.csharp/blob/7da8185a8500150c26766b65f03fe2a2a030e932/src/AutoRest.CSharp/Common/Generation/Types/TypeFactory.cs#L32-L37

When fixed, either `RestClientBuilder` or `LowLevelClientWriter` must be updated

[2022-08-04 06:36] ArcturusZhang commented on #2471
Hi @annelo-msft I have a question: will we have `IReadOnlyList<>`? This is not mentioned in the description

[2022-08-04 06:48] ArcturusZhang opened #2537 "Introduce a `Append` method in `ResourceIdentifier` class and use it in singleton resource construction"
When constructing singleton resources, we are using this: https://github.com/Azure/autorest.csharp/blob/1bbca801cda288b8cbc3023be194352a4b4dd4c1/test/TestProjects/SingletonResource/Generated/ParentResource.cs#L95
<del>We could introduce a `Append` method in the `ResourceIdentifier` class to reduce the validation and parsing cost in resource ids.</del>
We already have them:
- https://github.com/Azu

[2022-08-04 07:10] archerzz commented on #2528
Related work item: https://github.com/Azure/autorest.csharp/issues/2535
Also the depending PR: https://github.com/Azure/autorest.csharp/pull/2536

[2022-08-04 08:46] chunyu3 opened #2539 "remove 'Configuration.json' dependency for cadl in autorest.csharp"
When we generate SDK from cadl, the configuration.json is not used anymore.
We need to remove the dependency of the configuration when input is cadl in autorest.csharp.

[2022-08-04 13:10] jsquire commented on #2391
I agree with Heath's perspective; this is a very real need and will be a common scenario as we onboard new DPG libraries and evolve those that we have.   I understand that we may not have a complete end-to-end story around this until after the August MVP, but we do need a viable work-around in the short term.

@archerzz, @AlexanderSher:  I'd appreciate any thoughts that you have.

[2022-08-04 15:24] annelo-msft commented on #2471
IReadOnlyList\<T\> is used only for output models and readonly properties, which aren't covered in this issue.  It's described in the corresponding issue for output models: https://github.com/Azure/autorest.csharp/issues/2470, and the [generated client design doc](https://github.com/Azure/azure-sdk-for-net/blob/main/doc/design/GeneratedClientDesign.md).

[2022-08-04 17:41] annelo-msft commented on #2513
We'll do 1 & 4 for August MVP.

GeoJson would be a good example for T[] use cases.

Form Recognizer as well.

[2022-08-04 18:16] heaths commented on #2391
Just to be clear, I'm not asking for anything fancy. I appreciate a solution may be short lived (by some definition of "short", but still probably months out). We already have code to avoid generating pre-defined types and/or members, so we could utilize that. If one or both of `ServiceVersion` or `LatestVersion` is defined, generate neither: force devs to define both and just assume they are ther

[2022-08-04 18:35] annelo-msft commented on #2518
From our 08/04/2022 design discussion in the context of https://github.com/Azure/autorest.csharp/issues/2341 -
When we sit down to rethink performance of our model serialization methods, consider using internal setters on properties, rather than creating locals during deserialization and passing them into the serialization constructor.  Per @AlexanderSher, when we use structs, internal properties

[2022-08-04 19:50] annelo-msft commented on #2492
- Can we have models that are used in both create and update, but that allow you to set the property for create but not for update?

[2022-08-04 19:54] annelo-msft commented on #2341
Note regarding overloading of the term read-only ... sometimes we mean it in the context of the service API definition (e.g. `@visibility("read")`), and sometimes we mean it in terms of the .NET property (e.g. the property doesn't have a setter).

[2022-08-04 21:41] JeffreyRichter commented on #2492
Yes. PACTH can be used for both create and update; POST/PUT isn't even necessary for service to support at all. So, the 1st PATCH creates and further PATCHes update. We tell services that if a PATCH body includes a property that is "create-only" to accept it if its value matches what's already there (the retry scenario) else to fail the request with a 400.

  *   Jeffrey Richter<https://nam06.safe

[2022-08-04 22:36] AlexanderSher commented on #2539
How are we fulfilling `Configuration`?

[2022-08-04 22:56] AlexanderSher commented on #2516
So is it `BinaryData` or `byte[]`? Right now, `ByteArraySchema` is converted into `byte[]`.

[2022-08-04 23:51] annelo-msft commented on #2490
We make the assumption that models in the collection are serializable, which may not be true for user-defined schemas like we have in search, per @tg-msft, but these are out of scope for the August MVP.  We may want to revisit when we get to https://github.com/Azure/autorest.csharp/issues/2518.

[2022-08-05 05:22] fengzhou-msft opened #2541 "Boolean properties ending with Enabled should add Is prefix"
We should do it automatically in generator for this case.

[2022-08-05 05:23] fengzhou-msft opened #2542 "Version number with a dot in Enum is not generated in a nice format"
For instance 9.6 is generated as Nine6.

[2022-08-05 09:11] #2335 closed

[2022-08-05 15:27] annelo-msft commented on #2516
For August MVP, Cadl `bytes` keyword maps to BinaryData, see https://github.com/Azure/azure-sdk-for-net/blob/main/doc/design/GeneratedClientDesign.md#type-mappings-from-cadl-to-net

[2022-08-05 17:20] annelo-msft commented on #2513
Moving out of v2.0b1, as the following items track 1 & 4:
1: https://github.com/Azure/autorest.csharp/issues/2471
4: https://github.com/Azure/autorest.csharp/issues/2516

[2022-08-05 17:40] annelo-msft commented on #2516
Included in Beta1 for end of September.

[2022-08-05 20:40] DivineNwaokocha opened #2549 "`MatchConditions` headers are improperly applied."
**Library name**
Azure.Data.Appconfiguration

**Describe the bug**
The `MatchConditions` headers should be applied by calling [this](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/core/Azure.Core/src/Shared/ConditionalRequestOptionsExtensions.cs#L10) method. As it currently is, when the headers are applied (e.g. [here](https://github.com/DivineNwaokocha/azure-sdk-for-net/blob/43a9c2ff42f

[2022-08-05 20:40] DivineNwaokocha opened #2551 "`MatchConditions` headers are improperly applied."
**Library name**
Azure.Data.Appconfiguration

**Describe the bug**
The `MatchConditions` headers should be applied by calling [this](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/core/Azure.Core/src/Shared/ConditionalRequestOptionsExtensions.cs#L10) method. As it currently is, when the headers are applied (e.g. [here](https://github.com/DivineNwaokocha/azure-sdk-for-net/blob/43a9c2ff42f

[2022-08-05 21:15] annelo-msft opened #2550 "Confirm DPG v1.0 and DPG v2.0 parity with regard to resiliency"
### DPG v1.0 and DPG v2.0 parity

This issue tracks the work to show that the DPG v2.0 generator can generate the same client output from a Cadl file as the DPG v1.0 generator can from a swagger file.

#### Cadl Inputs

- [dev-driven](https://github.com/Azure/cadl-ranch/tree/main/packages/cadl-ranch-specs/http/resiliency/dev-driven)
- [srv-driven-1](https://github.com/Azure/cadl-ranch/tree/main/pa

[2022-08-05 21:35] annelo-msft commented on #2443
The recommended approach will be provided by the Cadl team as part of the sidecar story, and is tracked by this issue.: https://github.com/Azure/cadl-azure/issues/1839

[2022-08-05 21:35] #2443 closed

[2022-08-05 21:35] annelo-msft commented on #2336
Pending https://github.com/Azure/cadl-azure/issues/1839

[2022-08-05 21:46] annelo-msft commented on #2516
We prefer `BinaryData` over `bytes[]` for the following reasons, per @KrzysztofCwalina:

- Users need to often interpret bytes they receive and create bytes they send. BinaryData makes common tasks related to byte playload conversions easy, e.g. convert string to UTF8 bytes or deserlialize JSON bytes to POCO.
- T[] is read/write, BinaryData is read-only. We try to keep our output models immutable

[2022-08-06 01:08] archerzz commented on #2549
This is an issue in `Azure.Core`. We should transfer to [azure-sdk-for-net](https://github.com/Azure/azure-sdk-for-net).

[2022-08-06 02:13] archerzz commented on #2551
According to [the spec](https://www.rfc-editor.org/rfc/rfc2616#section-14.24), `If-Match` should be like:

[code]

And the [Entity-Tag](https://www.rfc-editor.org/rfc/rfc2616#section-3.11) should be like:

[code]

Note the `quoted-string`.

[RFC7232](https://www.rfc-editor.org/rfc/rfc7232.html#section-3.1) is about the HTTP conditional requests. In the spec, string values (excluding `*`) of `If-Ma

[2022-08-07 20:07] AlexanderSher opened #2552 "Clean-up LowLevelClientWriter"
- [ ] Create all fields in `LowLevelClient` rather than write them in writer (affects `WriteRequestCreationMethod` and `LowLevelConvenienceMethodWriter.WriteCancellationTokenToRequestContextMethod`)
- [ ] Make `LowLevelExampleComposer` work on top of serializations rather than inputs
- [ ] Consolidate all methods created for one operation

[2022-08-07 21:59] AlexanderSher opened #2553 "Support multiple content types in DPG + CADL (Convinience API)"
- [ ] Add `InputOperationBody` type that would represent one of the body types
- [ ] Add `IReadOnlyList<InputOperationBody> Bodies` to `InputOperation`
- [ ] Change `RestClientBuilder.CreateRequestMethodBuildContext` to use `Bodies` instead of search for parameter
- [ ] Modify [loadOperation](https://github.com/Azure/autorest.csharp/blob/205fd904ade97db3966955124dcc88e4e216923b/src/CADL.Extension/

[2022-08-08 02:35] archerzz commented on #2337
See the test case here: https://github.com/Azure/autorest.csharp/blob/d969aba11793bab86d3ca39e7252e94171c5ed31/test/AutoRest.TestServerLowLevel.Tests/LowLevel/Generation/ModelWriterTests.cs#L30-L51

I think we can close this issue.

[2022-08-08 02:45] fengzhou-msft commented on #2379
I encounted another duplicate name case. Three properties (`DiskCsiDriver`, `FileCsiDriver`, `SnapshotController`) of [ManagedClusterStorageProfile](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/containerservice/Azure.ResourceManager.ContainerService/src/Generated/Models/ManagedClusterStorageProfile.cs) all contain the same single property `Enabled`, I renamed them to `IsEnabled`, then

[2022-08-08 05:11] lirenhe commented on #2528
Pending on input model and output model.

[2022-08-08 05:16] lirenhe commented on #2463
doc related work will be put into a separate task.  Other work completed

[2022-08-08 05:16] #2463 closed

[2022-08-08 05:17] #2337 closed

[2022-08-08 05:37] lirenhe commented on #2553
@annelo-msft   @AlexanderSher,  is this item within the scope of August MVP?

[2022-08-08 06:18] AlexanderSher commented on #2553
I think not. We don't have complex bodies in Metrics Advisor.

[2022-08-08 08:18] lirenhe commented on #2490
@archerzz, plesae help to verify whether our current collection generation could already cover models.  Thanks

[2022-08-08 08:25] lirenhe commented on #2550
I think this could be part  of the effort of Test server support.
@annelo-msft, what is the priority of this item?

[2022-08-08 08:50] lirenhe commented on #2529
@chunyu3, please make sure current CADL compiler and our CADL model could support this. Thanks

[2022-08-08 15:54] annelo-msft commented on #2553
@AlexanderSher, can you help me understand the context for this issue?  What is the Cadl input and what is the expected output?  Or does this refer to generator internals only?

[2022-08-08 16:50] ShivangiReja commented on #2551
Since we already have all the conditions applied in [ConditionalRequestOptionsExtensions.ApplyHeaders](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/core/Azure.Core/src/Shared/ConditionalRequestOptionsExtensions.cs#L10) method, we should consider calling it for applying `MatchConditions` headers.

[2022-08-08 17:47] annelo-msft opened #2556 "Generate convenience methods with extensible enum parameters"
### Convenience methods with extensible enum parameters

This issue tracks the work to generate convenience methods for operations described in a Cadl file that have extensible enum parameters.

#### Expected Input

The design is as follows:
- Protocol methods are generated with extensible enum parameter as string type
- Convenience methods are generated with extensible enum parameter as the exten

[2022-08-09 03:12] lirenhe commented on #2535
@AlexanderSher,  seems this item is related to code refactoring.  So do you think this is required for August MVP? And could you provide the cost estimate for this item?  Thanks

[2022-08-09 03:27] archerzz commented on #2490
I think we have a blocking issue: there is a circular dependency between `ModelTypeProvider => TypeFactory => OutputLibrary` for collections of model type and probably (I haven't test but pretty sure) nested model type.

- In the initialization of a `ModelTypeProvider`, `typeFactory.CreateType` is invoked to [initialize properties](https://github.com/archerzz/autorest.csharp/blob/893d16802ad8c09b7

[2022-08-09 03:50] lirenhe commented on #2490
cc @AlexanderSher

[2022-08-09 18:16] annelo-msft commented on #2484
We will be consistent with the current HLC generator at the moment.

We will not address a number of prior test cases that were specific to swagger:
- [ClassThatInheritsFromBaseClassAndSomePropertiesWithBaseClassOverride](https://github.com/Azure/autorest.csharp/blob/feature/v3/test/TestProjects/Inheritance/Inheritance.json#L82) - identical to ClassThatInheritsFromBaseClassAndSomeProperties
- [Cla

[2022-08-09 18:17] annelo-msft commented on #2362
Take into account for polymorphic models: https://github.com/microsoft/api-guidelines/issues/332

[2022-08-10 05:16] archerzz commented on #2551
Thanks @JoshLove-msft for pointing out that we can use [ETag.ToString("H")](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/core/Azure.Core/src/ETag.cs#L101) which provides better support for this case. I'm going to split the work into two parts:

- Fix the serialization of `ETag` in https://github.com/Azure/autorest.csharp/blob/ee854e3cc58d2ba63d8e905b8b1ccd515bd9d0f1/src/assets/Generato

[2022-08-10 06:32] JoshLove-msft commented on #2551
I filed https://github.com/Azure/azure-sdk-for-net/issues/30441 to track removing the shared source method that should not be used.

[2022-08-10 07:24] #2531 closed

[2022-08-10 07:26] pshao25 commented on #2550
@annelo-msft looks like we only need to do the comparison, there is no coding effort, correct?

I would still put these three test scenarios into #2467

[2022-08-10 07:55] Yao725 opened #2560 "Cannot find the proper candidate when the scope resources have same resource type"
In GuestConfiguration, we have these three resources:
[code]
They extend from different resource but have the same resource type, aka `Microsoft.GuestConfiguration/guestConfigurationAssignments`. In such case, the generator will find more than one candidate for the list method and the generation will fail.

[2022-08-10 08:45] archerzz commented on #2516
Just a head-up. One lesson we learned from Mgmt Track 2 is that we should take care if `BinaryData` would be used to represent multiple data types, e.g. polymorphism.

[2022-08-10 09:00] archerzz commented on #2551
I made a mistake. We don't need to fix generator. The [generated codes](https://github.com/DivineNwaokocha/azure-sdk-for-net/blob/43a9c2ff42fa0b84b01a30831b15d8ba8fcc2a19/sdk/appconfiguration/Azure.Data.AppConfiguration/src/Generated/ConfigurationClient.cs#L2113) invoke the overloaded method:
[code]

[2022-08-10 10:45] #2551 closed

[2022-08-10 16:05] annelo-msft commented on #2516
Thank you, @archerzz!  Can you help us understand what the issues surrounding BinaryData and polymorphism?  It looks like the issue you linked is about strings, so I don't see the connection but would like to understand better.  Also, do you know if there is a resolution for this issue and/or what the timeline for resolution is?  Thanks!

[2022-08-10 22:44] m-nash opened #2562 "[FEATURE] [Polymorphic Resources] Add client hierarchy to resource clients when the Data is shared"
Original options https://gist.github.com/m-nash/0bc0e2a1871365708ad88d3052a236c6

Any time more than 1 resource shares a [DataPrefix]Data object we want to create a base Resource named [DataPrefix]Resource.  This class should be abstract and the data properties and initialization should move to this class.

[code]

The derived classes will then inherit from this base and no longer deal with the da

[2022-08-11 10:12] archerzz commented on #2341
@annelo-msft I have some suggestion on the generated codes:

1. We probably don't need `.AsReadOnly()` [when initializing `IReadOnlyList` in public constructor](https://github.com/annelo-msft/azure-sdk-for-net/blob/32070b548d53531ba3c751888a8b3719941a1945/sdk/template/Azure.Template/src/Generated/Models/RoundTripModel.cs#L18), because the corresponding field is `IReadOnlyList`:
`            Requir

[2022-08-11 14:05] lirenhe opened #2565 "[DPG] CADL Emitter should skip the features that CodeGen does not support currently."
Today, CodeGen does not support all features in CADL, e.g. LRO, Paging, Patch model, etc.
Keep modifying the CADL source files to exclude them would be difficult especially the CADL files are complex.
CADL emitter should report a warning and avoid generate internal models for the feature that current CodeGen does not support.

Otherwise, CodeGen would fail to generate the SDK code. and we don't wa

[2022-08-11 16:25] fengzhou-msft opened #2566 "Exception when generating confluent: the Organization_ListBySubscription method does not exist"
The exception is from below method:
https://github.com/Azure/autorest.csharp/blob/285ea1677b9fd140f25eac17ed3d6a97afc7b1e8/src/AutoRest.CSharp/Mgmt/AutoRest/MgmtOutputLibrary.cs#L320-L327

The [Organization_ListBySubscription](https://github.com/Azure/azure-rest-api-specs/blob/80065490402157d0df0dd37ab347c651b22eb576/specification/confluent/resource-manager/Microsoft.Confluent/stable/2021-12-01/co

[2022-08-11 16:33] fengzhou-msft opened #2567 "Use config to move UpdateConfigurations to MySqlConfigurationCollection"
The request path for `UpdateConfigurations` method is : `/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/updateConfigurations`. Therefore, it's generated under  `MySqlServerResource`.

If we can move this method to `MySqlConfigurationCollection` (its resource request path: `/subscriptions/{subscriptionId}/resourceGroups/{resour

[2022-08-11 17:28] #2535 closed

[2022-08-11 17:28] #2556 closed

[2022-08-12 00:19] heaths opened #2568 "Failure case should be default case for LROs"
When we start generating LROs, if we generate specialized LRO classes like we do by hand (see examples in my commit reference below), we should treat the default case (terminal case) as the failure case. Currently, looking through the Azure/azure-sdk-for-net repo, it seems everyone else is treating the default case as pending, but this could mean an unexpected service response e.g., `partiallyComp

[2022-08-12 08:39] fengzhou-msft opened #2571 "Creation of ContainerServiceManagedCluster failed because the SDK client replaces the api-version in LRO"
With this PR: https://github.com/Azure/autorest.csharp/pull/1841 (required by https://github.com/Azure/azure-sdk/issues/3817), the SDK client replaces the `api-version` for `nextRequestUri` even if service returns the `api-version` in it.

This caused a failure when creating the `ContainerServiceManagedClusterResource`: `The resource type 'locations/operations' could not be found in the namespace

[2022-08-12 09:37] pshao25 opened #2573 "Incorrect IsReadOnly flag in the output of cadl emitter"
https://github.com/Azure/autorest.csharp/blob/3ba38068e6de0683c2b5cd39a36d676b23941b64/test/TestProjects/CadlPetStore/Generated/cadl.json#L26

This should not be true.

[2022-08-12 16:07] annelo-msft opened #2574 "Suppress generation of convenience methods for PATCH operations"
For the August MVP, we will not generate convenience methods for PATCH operations.  Since we are currently generating convenience methods for all operations from a Cadl API description, we will need to suppress generation of convenience methods for PATCH operations.  This issue tracks the work to do that suppression.

[2022-08-12 21:38] AlexanderSher opened #2576 "Multipart supported in DPG"
Agrifood has [multipart body](https://github.com/Azure/azure-rest-api-specs/blob/683e3f4849ee1d84629d0d0fa17789e80a9cee08/specification/agfood/data-plane/Microsoft.AgFoodPlatform/preview/2021-03-31-preview/agfood.json#L893). Right now, autorest.csharp just picks up the last body parameter. As a result, we generate [incorrect samples](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/agrifoo

[2022-08-12 23:52] annelo-msft opened #2577 "Generate clients with authentication specified by Cadl @useAuth decorator"
Cadl support for the `@useAuth` decorator is available with https://github.com/microsoft/cadl/pull/795.

We will support generation of the same set of client constructors for authentication types we supported in DPG v1.0:
- AADToken (a.k.a OAuth2Flow): While Cadl has [several different models]( https://github.com/microsoft/cadl/blob/main/packages/rest/lib/auth.cadl#L86), DPG 1.0 creates one constr

[2022-08-13 00:49] annelo-msft opened #2578 "DPG v2.0b2: Show Parity with DPG v1.0"
One of the requirements for the [August MVP Arch Board](https://github.com/Azure/azure-sdk/issues/4549) is to show parity with DPG v1.0.  This means that we can generate the same client from a Cadl file in the August MVP that we could generate from an OpenAPI file in DPG v1.0.

This should include the following generation features:

DPG **v2.0b1**:
- [x] Main namespace and assembly name **from con

[2022-08-15 01:33] archerzz commented on #2483
@JeroenOortwijn According to the [Azure OpenAPI Spec Guidelines: R3012 APIVersionPattern](https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/openapi-authoring-automated-guidelines.md#r3012), we don't allow `version` values like `API Version 2.0`. There will be error when registering API. So we didn't handle that case in the generator.

[2022-08-15 03:22] ArcturusZhang commented on #2562
I will first make some prototypes in our SDKs for three types of these cases to make sure this could work in all cases before we move to any changes in the generator.
These three cases are:
1. Resources share a resource data, and they are resources in different scopes (therefore they have the same resource type). Example: [ManagementGroupPolicyDefinition](https://github.com/Azure/azure-sdk-for-net

[2022-08-15 05:09] ArcturusZhang commented on #2562
Created a prototype: https://github.com/Azure/azure-sdk-for-net/pull/30506
But SiteConfigResource is not really a good example - the operation `/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/slots/{slot}/config` never should return a base resource, instead, it should return exactly the resource type `WebSiteSlotConfigResource`. This must be

[2022-08-15 05:51] lirenhe commented on #2528
We only support string as the enum value

[2022-08-15 06:02] lirenhe commented on #2577
@chunyu3   please help to make @useAuth  info could be extracted from emitter.

[2022-08-15 07:03] pshao25 opened #2582 "apiVersion should not be a global parameter"
We now have a gap between the generated client from cadl and the generated client from M4:
![image](https://user-images.githubusercontent.com/97225342/184590699-dec0fb35-3016-47e9-9ab7-37a7308af0e7.png)
apiVersion is a global parameter now. The root cause is: now the output of emitter will add an apiVersion parameter to each operation
![image](https://user-images.githubusercontent.com/97225342/184

[2022-08-15 08:06] pshao25 commented on #2550
Current gap:
1. Fixed enum is not in the August scope: https://github.com/Azure/cadl-ranch/blob/fa1f20e21bf8dfa6316f7b2025cb7670ffbff068/packages/cadl-ranch-specs/http/resiliency/dev-driven/main.cadl#L26
2. paging and lro cannot be filtered now. Tracked by https://github.com/Azure/autorest.csharp/issues/2565
3.

[2022-08-15 08:27] lirenhe commented on #2582
@chunyu3, @AlexanderSher,   I think we should have a separete logic to handle apiversion (or serviceVersion in CADL).
This could be handled either in Emitter or CodeGen side, could you help to make a decision on how to solve this? Thanks

cc @annelo-msft for awareness.

[2022-08-15 08:48] archerzz commented on #2471
We can close this issue. See the codes generated under a test project:
- https://github.com/archerzz/autorest.csharp/blob/dpg/model-e2e/collection/test/TestProjects/CadlCollection/Generated/Pet.cs
- https://github.com/archerzz/autorest.csharp/blob/dpg/model-e2e/collection/test/TestProjects/CadlCollection/Generated/Pet.Serialization.cs

[2022-08-15 08:48] #2471 closed

[2022-08-15 08:51] lirenhe commented on #2574
Related to https://github.com/Azure/autorest.csharp/issues/2565.

[2022-08-15 08:52] archerzz commented on #2490
The last remaining piece is the support of optional collection types which should be initialized as `ChangeTrackingList`.

[2022-08-15 16:50] annelo-msft opened #2584 "Provide command line tool for generating a .NET SDK from a Cadl file"
To validate DPG 2.0 features, we will need a way to use the new Cadl emitter and autorest.csharp functionality to create an output SDK.

@lirenhe has provided [this README](https://github.com/Azure/autorest.csharp/blob/632df1f6dfd24ed30ac4f5f7167921a5e36f31b5/src/CADL.Extension/readme.md#generate-sdk-from-cadl), however, I am currently getting the following error:

![image](https://user-images.git

[2022-08-15 16:51] annelo-msft commented on #2584
@iscai-msft, @lmazuel - I know you have been thinking about version dependency issues for Python, any guidance you have for addressing version dependencies will be very helpful!

[2022-08-15 16:57] iscai-msft commented on #2584
yeah right now it's kind of difficult, I know @timotheeguerin has been looking into this on the cadl side right now to improve. Python has been using pnpm and has been generating from cadl-ranch as a sub-workspace (see [here](https://gist.github.com/iscai-msft/e220e73236de81ff2e7b992e37b79f6f) for more details).

The first error you showed looks like you might not have built it (iirc), so you migh

[2022-08-15 16:58] annelo-msft opened #2585 "Generate a .NET Client library from Cadl using `dotnet msbuild t:/GenerateCode` command"
The standard code generation command should generate a .NET client library when a .cadl file is specified as the input file in autorest.md.

e.g.:

[code]

Note, basic client generation from Cadl is tracked by https://github.com/Azure/autorest.csharp/issues/2584.  This issue tracks the work to integrate that functionality in the `/t:GenerateCode` command.

[2022-08-15 17:49] annelo-msft opened #2586 "DPG 2.0GA: Show generated convenience methods"
One of the requirements for the [August MVP Arch Board](https://github.com/Azure/azure-sdk/issues/4549) is to show that convenience methods can be generated for protocol methods with basic models.  This includes the following features:

DPG **v2.0b1**:
- Basic input/output model convenience methods: https://github.com/Azure/autorest.csharp/issues/2335
- Extensible enum parameters: https://github.c

[2022-08-15 18:07] annelo-msft opened #2587 "August MVP Arch Board: Show Basic Model Generation"
One of the requirements for the [August MVP Arch Board](https://github.com/Azure/azure-sdk/issues/4549) is to show generation of basic models.  This includes the following features:

DPG **v2.0b1**:
- Namespace from configuration
- Round-trip models: https://github.com/Azure/autorest.csharp/issues/2463
- Basic type support: https://github.com/Azure/autorest.csharp/issues/2337
- Optional properties

[2022-08-15 20:49] m-nash commented on #2447
@Yao725 can you provide the code snippet that caused the failure?

[2022-08-15 22:38] AlexanderSher opened #2589 "Provide design for missing @doc"
In azure-sdk-for-net, we have multiple analysis rules that are enabled for missing docs (cs1591, cs1571, etc.) However, other projects may have more relaxed rules on docs requirements.
We need to decide how we treat swagger or CADL input that has missing docs
- Add a setting which, when enabled, will make generator to fail on missing doc, either in pre-autorest.csharp phase or in autorest.csharp.

[2022-08-15 23:02] AlexanderSher opened #2590 "Provide design for multiple security schemas"
In most cases, swagger input provides at most one `KeySecurityScheme` and one `OAuth2SecurityScheme`. However, it is possible to provide more than one security scheme of each type when there is more than one input. We need to provide correct design for these cases or prohibit such input.

Specifically, if multiple schemas of the same type are allowed, what should be done if:
- schemas are absolute

[2022-08-15 23:14] annelo-msft commented on #2589
We decided in a design meeting that we would rely on Cadl to enforce this: https://github.com/Azure/cadl-azure/issues/1748.

@AlexanderSher, is the reason we're bringing this back up because we can't merge generator changes to the azure-sdk-for-net repo with missing docs while Cadl is not enforcing this requirement?

[2022-08-15 23:43] annelo-msft commented on #2477
@KrzysztofCwalina, we will address this as part of the serialization optimization work item, rather than slowing progress toward the MVP by making changes to serialization.

[2022-08-15 23:44] annelo-msft commented on #2518
Address enum serialization: https://github.com/Azure/autorest.csharp/issues/2477#issuecomment-1198696539

[2022-08-15 23:46] annelo-msft opened #2591 "Generate models with "fixed enum" of int properties from Cadl"
Design TBD.

https://github.com/Azure/autorest.csharp/issues/2477 tracks the work to generate fixed enums of strings.

Related design question: https://github.com/Azure/azure-sdk-for-net/pull/30176/files#r932531328

[2022-08-15 23:55] annelo-msft commented on #2590
Can we detect this case and have the generator throw an exception for the time being?

[2022-08-16 00:40] archerzz commented on #2590
I have an PR which will delete identical security scheme: https://github.com/Azure/autorest.csharp/pull/2581 I think it's easy to change to throw an exception if security schemes are identical.

As for case 2&3 on top, that depends on the strategy we choose. How do we tolerate security schemes of the same type?

[2022-08-16 00:52] AlexanderSher commented on #2590
I think we should just throw for everything and postpone the decision. CADL `@useAuth` decorator provides quite complicated inputs that we would have to resolve anyway: https://github.com/microsoft/cadl/blob/b44b8d414e8e940c2eb7a9d92fa40857b3eba3f5/packages/rest/docs/authentication.md

[2022-08-16 01:35] archerzz commented on #2516
@annelo-msft The issue is that in mgmt SDK, `BinaryData` in the generated codes used to represent a JSON object. Then later on, some change has been made so that `BinaryData` can represent strings. But the corresponding serialization/deserialization logic has not been updated. So error could happen when handling `BinaryData` because we're treating it as JSON object, but actually it could be string

[2022-08-16 02:15] pshao25 opened #2592 "Cannot generate endpoint with server decorator"
Add below decorator to the cadl file:
`@server("http://localhost:3000", "Testserver endpoint")`

Run the emitter, there is no parameter with `"IsEndpoint": true`

Therefore, no endpoint generated.

[2022-08-16 03:11] chunyu3 opened #2593 "upgrade cadl compiler and rest"
Upgrade cadl compiler and rest version in cadl-csharp emitter.

[2022-08-16 03:16] chunyu3 commented on #2582
As discussed with @AlexanderSher , We will add ApiVersion as a property of InputNamespace( SDK library level), and will not emit to each client as an client Parameter.

[2022-08-16 03:38] AlexanderSher commented on #2589
Yes. Well, we can, but users will be forced to disable warnings.

[2022-08-16 05:25] m-nash commented on #2447
It looks like the issue stems from how a customer might try to set a value.

Lets say we have a simple model
[code]

When a customer constructs a `ModelWithBinaryData` intellisense will show them they have 2 properties they can set.  Property `A` is pretty straightforward as its just a string, but `Properties` is a BinaryData and lets say in this case it can be either a complex object OR a raw str

[2022-08-16 05:26] m-nash commented on #2571
Lets first discover where those versions are coming from.  Is there a model that is defined in those versions that is returned as the interim status payload for the LRO?  If so I would like to discover how we can represent that as this would affect the rehydration case as well.

[2022-08-16 07:37] #2465 closed

[2022-08-16 08:18] pshao25 opened #2594 "Lack of ResponseBodyType leads to example difference between cadl version and swagger version"
This issue actually depends on the solution to https://github.com/Azure/cadl-ranch/pull/49. I will upate this issue after we find a solution.

### Symptom
Take this [operation](https://github.com/Azure/autorest.testserver/blob/da9260e442bf3736cac5017bf34af6b34f9ceeb5/swagger/dpg-initial.json#L13-L26) as example.
Corresponding cadl:
https://github.com/Azure/cadl-ranch/blob/c4f41f483eac812527f7b6dc8

[2022-08-16 12:00] lirenhe opened #2597 "Support Multiple content types defined in CADL files: protocol methods"
CADL already supports multple content types,

 @Cadl.Rest.produces("application/json", "image/png")

We need to make sure the generated SDK should have the same behavoir with DPG 1.0

This is the requirement for August MVP, see https://github.com/Azure/autorest.csharp/issues/2578

[2022-08-16 12:10] #2504 closed

[2022-08-16 12:38] ArcturusZhang opened #2598 "Mgmt generator cannot properly handle multiple "consumes" in the swagger"
Our code model will create multiple "service requests" from one operation that has multiple "consumes", and our mgmt generator will throw exception since multiple `RestClientMethod` is built from one operation:
[code]
This issue is first discovered in RP automation.

[2022-08-16 15:23] annelo-msft commented on #2592
We will need to generate endpoint in order to generate any basic client.  Adding this to the August MVP requirements - it is covered as part of the parity requirement.

[2022-08-16 15:44] annelo-msft commented on #2341
@archerzz, for 1, if we don't call AsReadOnly(), the type of the property is still List<string>, and a user could cast to that and mutate the list.  We need to call AsReadOnly() to ensure the list cannot be mutated.

For 2, that is an interesting point - I expect we don't do this because we assume the server is returning correct data. @tg-msft, can you comment on how we have thought about validati

[2022-08-16 16:25] annelo-msft commented on #2463
@lirenhe / @archerzz, could you provide the output of the generator on https://github.com/Azure/cadl-ranch/tree/main/packages/cadl-ranch-specs/http/models/roundtrip-basic, so I can confirm that this issue is complete?

[2022-08-16 16:26] annelo-msft commented on #2337
@lirenhe / @archerzz, could you provide the output of the generator on https://github.com/Azure/cadl-ranch/tree/main/packages/cadl-ranch-specs/http/models/roundtrip-basic, so I can confirm that this issue is complete?

[2022-08-16 16:26] annelo-msft commented on #2471
@lirenhe / @archerzz, could you provide the output of the generator on https://github.com/Azure/cadl-ranch/tree/main/packages/cadl-ranch-specs/http/models/roundtrip-basic, so I can confirm that this issue is complete?

[2022-08-16 16:27] annelo-msft commented on #2337
@lirenhe / @archerzz, could you provide the output of the generator on https://github.com/Azure/cadl-ranch/blob/main/packages/cadl-ranch-specs/http/models/primitive-properties/main.cadl, so I can confirm that this issue is complete?

[2022-08-16 16:41] annelo-msft commented on #2463
@lirenhe, could you provide a link that issue here?

[2022-08-16 22:29] m-nash commented on #2447
Given that this problem is related to confusion around usage of the APIs we at minimum want to add some additional documentation on all properties of type `BinaryData` to better indicate to the user how they should set values of either object or primitives.

Lets add the following to the summary documentation for all BinaryData properties in the autogenerator
[code]

Resulting intellisense will be

[2022-08-16 23:23] annelo-msft opened #2600 "Enable generation of client libraries from Cadl in the azure-sdk-for-net repo"
### Problem statement
Today, we do not have an automated way to run DPG2.0 to generate client library source from Cadl in the azure-sdk-for-net repo.  This means we cannot release a library from Cadl using our release pipelines.

For DPG2.0b2, we will need to do this, as the requirement for that milestone is that we can generate a preview library from a Cadl definition.

We should follow the same

[2022-08-16 23:23] annelo-msft commented on #2600
@lirenhe, FYI

[2022-08-16 23:34] annelo-msft opened #2601 "Support additional auth types from Cadl"
For DPG2.0b1, we will support the same authentication feature set as we did in DPG1.0, as tracked by https://github.com/Azure/autorest.csharp/issues/2577

Work remains to generate clients that use [additional types of auth](https://github.com/microsoft/cadl/blob/main/packages/rest/lib/auth.cadl#L86) that can be expressed in Cadl.

Per @AlexanderSher:
how much of these we need to support?https://gi

[2022-08-16 23:39] annelo-msft commented on #2577
@schaabs, @tg-msft, @KrzysztofCwalina, please let us know if you have any concerns with following the DPG1.0 spec in generating client constructor authentication. I know historically much of this has been done in the convenience layer.  We have tracking the design work to support additional Cadl features.

[2022-08-16 23:47] annelo-msft commented on #2403
Removing August MVP label, as we should be able to use DPG1.0 attributes to specify hierarchical client relationships in the August MVP per https://github.com/Azure/azure-sdk-for-net/blob/main/doc/DataPlaneCodeGeneration/Subclients.md#subclients.

@AlexanderSher, @lirenhe, can you confirm that it will be possible to use DPG1.0 attributes?

[2022-08-17 00:49] jallirs commented on #2571
Hitting the same issue. Exact same error. In my case, I'm passing in location using:
 `  static readonly AzureLocation s_resourceRegion = new AzureLocation("southcentralus");`,

Setting up a bunch of managed cluster parameters into this data instance:
`            var cluster = resourceGroup.GetManagedClusters();
            ManagedClusterData data = new ManagedClusterData(s_resourceRegion);`
and

[2022-08-17 00:55] jallirs commented on #2571
2022-08-17T00:34:24.8494453Z Request failed! The resource type 'locations/operations' could not be found in the namespace 'Microsoft.ContainerService' for api version '2022-04-01'. The supported api-versions are '2016-03-30,2017-08-31'.
2022-08-17T00:34:24.8495746Z Status: 404 (Not Found)
2022-08-17T00:34:24.8496610Z ErrorCode: InvalidResourceType
2022-08-17T00:34:24.8496922Z
2022-08-17T00:34:24.8

[2022-08-17 03:03] archerzz commented on #2341
Thanks. I've updated the PR to follow the original design.

[2022-08-17 03:29] lirenhe opened #2603 "Generate comments for models API from @doc in CADL"
- [ ] Generate comments for models and convinience API from `@doc` in CADL
- [x] If `@doc` is not specified for model and properties, generate a warning. (done by cadl in https://github.com/Azure/cadl-azure/issues/1748)

Sample input & output

- [Cadl testserver models/roundtrip-basic](https://github.com/Azure/cadl-ranch/tree/main/packages/cadl-ranch-specs/http/models/roundtrip-basic)

- [RoundTri

[2022-08-17 03:36] lirenhe commented on #2463
I created https://github.com/Azure/autorest.csharp/issues/2603.   Please update that issue if there are more asks on @doc part.

[2022-08-17 05:36] lirenhe commented on #2578
@annelo-msft , do we need to support header/query parameter & header response as the goal for v2.0b1?

[2022-08-17 06:00] lirenhe commented on #2403
@chunyu3, could you help to confirm?

[2022-08-17 06:12] lirenhe commented on #2603
Need to confirm whether the warning could be the output of CADL compiler/linter directly.

[2022-08-17 07:36] pshao25 commented on #2597
@annelo-msft I saw this [issue](https://github.com/microsoft/cadl/issues/665) is closed and this [one](https://github.com/microsoft/cadl/issues/756) is open (but this one is in the September milestone). Seems this one is the correct ayntax how to set content type at operation level?

[2022-08-17 07:42] archerzz commented on #2603
CADL will enforce the check on the compiler. See: https://github.com/Azure/cadl-azure/issues/1748

[2022-08-17 07:55] chunyu3 commented on #2315
autorest.csharp has upgrade to new modelerfour version which support ExternalDocs. Close this issue.

[2022-08-17 07:55] #2315 closed

[2022-08-17 07:57] chunyu3 commented on #2384
close this issue, since autorest.csharp has already support ExternalDocs

[2022-08-17 07:57] #2384 closed

[2022-08-17 08:01] chunyu3 commented on #2573
visiblity decorator  is supported. The issue is resolved. close it.

[2022-08-17 08:01] #2573 closed

[2022-08-17 08:28] #2603 closed

[2022-08-17 16:36] annelo-msft opened #2606 "Obtain namespaces from Cadl file instead of generator configuration"
Once Cadl provides an approach to specifying client namespaces, we will need to consume this in the generator.

The Cadl dependency is being tracked by: https://github.com/Azure/cadl-azure/issues/1903

[2022-08-17 16:49] lmazuel opened #2607 "Support x-ms-skip-url-encoding from CADL"
While it won't be called x-ms-skip-url-encoding in CADL, once https://github.com/microsoft/cadl/issues/851 is fixed we need to add that support in the language emitter.

[2022-08-17 17:29] annelo-msft commented on #2597
The test case for this is the [resiliency/srv-driven-2](https://github.com/Azure/cadl-ranch/blob/main/packages/cadl-ranch-specs/http/resiliency/srv-driven-2/main.cadl#L100-L115) test case @lmazuel provided.  We should generate what we did in DPG 1.0: https://github.com/Azure/autorest.csharp/blob/feature/v3/test/TestServerProjectsLowLevel/dpg-update1/Generated/ParamsClient.cs#L376

If for some reas

[2022-08-17 17:50] annelo-msft commented on #2384
@heaths, are you able to make use of this in the cognitive libraries?

[2022-08-17 17:57] annelo-msft commented on #2578
@lirenhe, we can support header parameters in request/response for beta2.  I would keep query parameters in beta1 because I believe those show up in DPG1.0 service APIs.

[2022-08-17 22:17] annelo-msft commented on #2592
Related to https://github.com/Azure/cadl-azure/issues/1785, which is needed to indicate that the endpoint is a Uri.

[2022-08-17 22:18] annelo-msft commented on #2578
@srnagar will propose a unified outline across languages that aligns with this.

[2022-08-17 22:18] annelo-msft commented on #2586
@srnagar will propose a unified outline across languages that aligns with this.

[2022-08-17 22:18] annelo-msft commented on #2587
@srnagar will propose a unified outline across languages that aligns with this.

[2022-08-17 22:47] annelo-msft opened #2608 "Generate long-running operations service methods from Cadl API description"
The DPG 2.0 generator should generate the same API and implementation from Cadl as it did for DPG 1.0 from swagger.

Cadl LRO support was provided in https://github.com/Azure/cadl-azure/issues/664

[2022-08-17 23:16] annelo-msft commented on #2485
We will use the same design that was used in DPG1.0.

[2022-08-17 23:16] #2485 closed

[2022-08-17 23:16] annelo-msft commented on #2332
We should address https://github.com/Azure/azure-sdk-for-net/issues/29342 as part of this as well.

[2022-08-17 23:27] annelo-msft opened #2609 "Design multi-version client generation from Cadl"
We will need to generate clients that are version aware to support version-tolerant models.

This includes:
- Support for generating ServiceVersion enum from versions specified in Cadl
- Support for using the ServiceVersion value set in ClientOptions to create requests
- Support for throwing NotSupportedException from service methods added after the client's target version
- Documentation comments

[2022-08-18 02:19] #2593 closed

[2022-08-18 02:19] #2582 closed

[2022-08-18 03:07] #2447 closed

[2022-08-18 03:20] archerzz commented on #2451
close since it's implemented, see test case: https://github.com/Azure/autorest.csharp/blob/30e69df58b7cfcd8e700f3400601722c74186ab3/test/AutoRest.TestServerLowLevel.Tests/LowLevel/Generation/ModelWriterTests.cs#L29-L45

[2022-08-18 03:20] #2451 closed

[2022-08-18 03:21] archerzz commented on #2469
close since this is implemented, see test case: https://github.com/Azure/autorest.csharp/blob/30e69df58b7cfcd8e700f3400601722c74186ab3/test/AutoRest.TestServerLowLevel.Tests/LowLevel/Generation/CollectionWritingTests.cs#L34-L50

[2022-08-18 03:21] #2469 closed

[2022-08-18 03:22] lirenhe opened #2612 "Typespec Emitter: Improve test coverage for Emitter"
In current codebase, when execute:  'npm run test', it will report 'Error: No test files found'.
Please create the test project and enable unit test & integration test in this project.

- [x] Generate the test project for unit test & integration test.
- [ ] Create unit test/integration test with test coverage > 85%
- [x] Test execution should be included in CI pipeline.

[2022-08-18 03:26] lirenhe opened #2613 "[DPG]: Full coverage of the test cases in CADL Ranch repo"
This is the follow up item for https://github.com/Azure/autorest.csharp/issues/2467

Let's target to have full coverage for all CADL files in https://github.com/Azure/cadl-ranch/tree/main/packages/cadl-ranch-specs/http for DPG tests.

[2022-08-18 08:23] fengzhou-msft commented on #2571
Service Team wants to work on a fix with no ETA: https://github.com/Azure/azure-sdk-for-js/pull/22423#discussion_r920718331

The `Microsoft.ContainerService/locations/operations` API is not defined in swagger and its supported version is set in ARM manifest. The error is thrown by ARM.

[2022-08-18 15:56] annelo-msft commented on #2589
Is this an issue right now when we're not generating from Cadl in azure-sdk-for-net yet?  Or does it only become an issue once https://github.com/Azure/autorest.csharp/issues/2600 is completed?  Because it looks like Cadl enforcement of doc comments may be available soon: https://github.com/Azure/cadl-azure/issues/1748

[2022-08-18 16:23] annelo-msft commented on #2597
@AlexanderSher, are these duplicates? https://github.com/Azure/autorest.csharp/issues/2553

[2022-08-18 16:32] noahadashMS opened #2618 "autorest is not supporting a not required query parameter on swagger"
hi,
my team and I are trying to add a new query parameter that is not required. On the client's generation, the function signature on the function in the class is changing, but on the interface, it is not.
that causes a barking of the code because the class does not implement the interface correctly.
we wanted to make sure that the fact that the parameter isn't required is the problem so we change

[2022-08-18 16:39] AlexanderSher commented on #2618
V3 doesn't generate interfaces. Can you provide a code example or a reference to the project?

[2022-08-18 16:48] noahadashMS commented on #2618
thank for the quick answer!
sure:
![Screenshot 2022-08-18 194426](https://user-images.githubusercontent.com/110893388/185449850-a24a9b07-a81f-468a-b1ff-e79d5e700f5a.png)
![image](https://user-images.githubusercontent.com/110893388/185450063-42cadd99-b7f6-4e58-9c00-9abb0cf73fd5.png)
![image](https://user-images.githubusercontent.com/110893388/185450397-0aa325ee-b521-4b7e-9ed5-f3189ecaaaa8.png)
![im

[2022-08-18 17:02] AlexanderSher opened #2619 "Provide design for convenience methods for operations that support multiple content types"
In HLC, for every content type, there is a pair of methods (sync and async) in the client, corresponding pair in the rest client, and a create request method. Example from test server - [AnalyzeBody operation](https://github.com/Azure/autorest.testserver/blob/main/swagger/media_types.json#L14):
- `application/json`:
  - [`Task<Response<string>> AnalyzeBodyAsync(SourcePath input = null, Cancellatio

[2022-08-18 18:51] AlexanderSher commented on #2618
Ok, this is a management plane issue. @m-nash @ArcturusZhang @Yao725 - can you please take a look?

[2022-08-18 22:12] christothes opened #2620 "Add Protocol Methods In Generated SDK of (Gen 1) Convenience Client not working"
The instructions [here](https://github.com/Azure/azure-sdk-for-net/blob/main/doc/DataPlaneCodeGeneration/Add_ProtocolMethods_In_Gen1_Convenience_Client_Generated_SDK.md) do not seem to work anymore. Trying the same steps in the article result in the following error:

[code]

[2022-08-18 22:15] ShivangiReja commented on #2620
@archerzz, @chunyu3, @pshao25 - Just FYI, [here](https://github.com/Azure/autorest.csharp/tree/feature/v3/test/TestProjects/ProtocolMethodsInRestClient) is the test project and [here](https://github.com/Azure/autorest.csharp/blob/feature/v3/test/AutoRest.TestServer.Tests/ProtocolMethodsInRestClientTests.cs#L26) are the test cases for this feature.

[2022-08-19 00:32] annelo-msft opened #2621 "Fail generation in the emitter if doc is missing/empty"
As discussed with @AlexanderSher, @KrzysztofCwalina, @tg-msft, and @lmazuel, all Tier-1 language DPG generators will fail generation if a doc tag is missing or empty, rather than generating documentation to fill in the gaps.

Per @lmazuel, we will do this in the emitter so that we enforce it only in Cadl and not swagger.

[2022-08-19 00:32] annelo-msft commented on #2621
@lirenhe, @chunyu3 FYI

[2022-08-19 02:46] chunyu3 commented on #2620
The error is 'Stack overflow', it may caused some infinite loop. We are checking.

[2022-08-19 03:01] chunyu3 commented on #2620
@christothes Would you please provide the autorest.md files you used ? I want to try to generate the protocal method you met with problem. Thanks

[2022-08-19 03:56] archerzz commented on #2620
This is an infinite recursion caused by recent changes.

[2022-08-19 05:14] ShivangiReja commented on #2620
@chunyu3 It is failing in the main branch. You can use [this](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/tables/Azure.Data.Tables/src/autorest.md) autorest.md file and add below config similar to [this](https://github.com/Azure/azure-sdk-for-net/blob/main/doc/DataPlaneCodeGeneration/Add_ProtocolMethods_In_Gen1_Convenience_Client_Generated_SDK.md#add-config) doc:

[code]

[2022-08-19 05:50] chunyu3 commented on #2529
confirmed that we will regard 'interface' and 'namespace' as same when using them to group methods. And each interface will emitted as a client which is by design.

[2022-08-19 05:50] #2529 closed

[2022-08-19 05:52] archerzz commented on #2620
Call stack of the infinite recursion:
[code]

[2022-08-19 06:15] archerzz commented on #2620
The issue should have been fixed in PR: https://github.com/Azure/autorest.csharp/pull/2624

[2022-08-19 07:27] pshao25 opened #2625 "Cannot get Content and ContentStream of response"
Actual request method:
[code]

Expected behavior:
Remove this line:
[code]

The root cause should be the same as https://github.com/Azure/autorest.csharp/issues/1571

[2022-08-19 08:11] pshao25 opened #2626 "Handle the same property name with model name"
We could define cadl as
[code]
We will generate as
[code]
This leads to error

See details here: https://github.com/Azure/cadl-ranch/pull/49#issuecomment-1216050629

[2022-08-19 08:17] archerzz commented on #2341
@annelo-msft For required read-only collection properties of output model, shall we have another internal constructor like below? Let's take the [OutputModel.cs](https://github.com/annelo-msft/azure-sdk-for-net/blob/cadl-model-readonly-property/sdk/template/Azure.Template/src/Generated/Models/OutputModel.cs) as an example.

[code]

Because:
- In https://github.com/Azure/autorest.csharp/issues/2470

[2022-08-19 08:47] archerzz commented on #2516
@annelo-msft I guess for cadl `bytes`, we want to generate the following class and serialization. Can you confirm?

## model class
[code]

---

## Serialization Class
[code]

[2022-08-19 11:23] Yao725 commented on #2618
Hi @noahadashMS, it seems that you are talking about track 1 code, right? We are going to deprecate track 1 management plane SDK soon, so the release will not be allowed without special justification. Maybe you could take a look at [track 2](https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/kusto/Azure.ResourceManager.Kusto) and have a try.

[2022-08-19 15:50] annelo-msft commented on #2341
Hi @archerzz, yes, let's add the internal initialization constructor to initialize readonly collections.  Thanks!

[2022-08-19 15:57] annelo-msft commented on #2574
@lirenhe, I'd like to be careful about saying this is an unsupported feature.  Right now, it is by-design that we don't generate convenience methods for PATCH operations.  The recommendation to users of DPG2.0 libraries is to call a PATCH protocol method and format the json-merge-patch payload themselves.  We may at some point add convenience methods to handle this scenario differently in .NET bas

[2022-08-19 15:59] annelo-msft commented on #2589
Design provided in https://github.com/Azure/autorest.csharp/issues/2621

[2022-08-19 15:59] #2589 closed

[2022-08-19 16:00] ArthurMa1978 opened #2629 "Missing parameter when the scope operation containers different parameter with common operation"
For example:
Here https://github.com/Azure/azure-rest-api-specs/blob/main/specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/authorization-RoleAssignmentsCalls.json#L332, the operation `RoleAssignments_ListForScope` container a `PaginationSkipToken` parameter but other common operations under the same scope

- `RoleAssignments_ListForSubscription`
- `RoleAssignm

[2022-08-19 16:03] annelo-msft commented on #2621
Good question from @weidongxu-microsoft here: https://github.com/Azure/autorest.java/issues/1640#issuecomment-1220838644.  More specifically:

[2022-08-19 16:38] ShivangiReja commented on #2620
Thanks @archerzz for fixing this quickly!

[2022-08-19 17:28] jallirs commented on #2571
I'm using the dotnet sdk. Is there a workaround I can use?
For reference:
I tried overriding some of the classes/methods, but I'm running into protection violations because the classes are marked "internal" with the relevant properties _apiversion of the properties marked "private".

How is this working in the JS SDK? Are they simply not passing the api version?

[2022-08-21 15:33] sagimar opened #2636 "Start LRO and wait for completion in different contexts"
Hi,

I would like to trigger an LRO, using AutoRest Client 'Start...Async()', and wait for the completion of the operation in another context (e.g. different part of durable orchestration).

When calling 'Start...Async()', as a response, I'm receiving an auto-generated entity, that extends 'Operation', and has 'WaitForCompletionResponseAsync()' method.

We have a requirement to call this method fr

[2022-08-22 03:31] fengzhou-msft commented on #2571
@jallirs you can use a policy to override the api version in the request to query LRO operation status.  Refer to the Policy here:
https://github.com/fengzhou-msft/azure-sdk-for-net/blob/a59001e426fe6fbe952cc04bf815a6de15e13c95/sdk/containerservice/Azure.ResourceManager.ContainerService/tests/ContainerServiceManagementTestBase.cs#L21-L37

Add the policy in `ArmClientOptions` when creating `ArmClie

[2022-08-22 04:16] #2462 closed

[2022-08-22 04:17] #2470 closed

[2022-08-22 07:49] #2477 closed

[2022-08-22 09:08] JeroenOortwijn commented on #2483
Ah, then this issue can be closed.

[2022-08-22 09:08] #2483 closed

[2022-08-22 09:21] lirenhe commented on #2574
Thanks for the clarification, @annelo-msft. Reopen this item.

[2022-08-22 14:16] #2511 closed

[2022-08-22 14:17] ArthurMa1978 commented on #2534
False alert, close

[2022-08-22 14:17] #2534 closed

[2022-08-22 14:45] #2502 closed

[2022-08-22 17:20] annelo-msft commented on #2362
Originally stated:

This is different from resilient model generation described in:
- https://github.com/Azure/autorest.csharp/issues/2354
- https://github.com/Azure/autorest.csharp/issues/2356

[2022-08-22 21:12] jallirs commented on #2571
Tried the above workaround, it works :). Thanks everyone!

[2022-08-22 21:23] heaths commented on #2384
Support was added in a recent update, but it seems my regex-based solution needs updating. So, yes, it seems to work, but I haven't actually used it quite yet because of my own bugs.

[2022-08-22 21:54] AlexanderSher opened #2637 "Resolve uncertainty with multiple KeySecurityScheme instances"
[TranslatorText spec](https://github.com/Azure/azure-rest-api-specs/blob/3196a62202976da192d6da86f44b02246ca2aa97/specification/cognitiveservices/data-plane/TranslatorText/stable/v3.0/TranslatorText.json#L14) has several api key security definitions. To keep autorest.csharp compatible with this spec, `CodeModelConverter` allows more than one instance of `KeySecurityScheme` and uses name of the fir

[2022-08-22 22:15] cataggar opened #2638 "unable to generate top level generation1-convenience-client"
In this [internal pull request](https://dev.azure.com/msazure/One/_git/Azure-Dedicated-AVS/pullrequest/6644729), I'm attempting to upgrade to "Microsoft.Azure.AutoRest.CSharp" Version="3.0.0-beta.20220822.2". The configuration used to be `azure-arm: true`, but now I'm producing almost the same thing with:
[code]

The top level `AvsManagementClient.cs` is gone and I don't know why. How do I get it

[2022-08-23 00:54] cataggar commented on #2638
I tried switching to the version from https://github.com/Azure/azure-sdk-for-net/blob/main/eng/Directory.Build.Common.props#L8 , but it did not help.

[code]

[2022-08-23 01:35] cataggar commented on #2638
For my info, https://github.com/Azure/azure-sdk-for-net/pull/30583 now has a track2 client for AVS from 5 days ago.

[2022-08-23 02:43] #2528 closed

[2022-08-23 05:12] AlexanderSher commented on #2578
With useAuth supported, I think we have parity. @annelo-msft , is this the cadl input we need to use for Confidential Ledger validation: https://github.com/Azure/cadl-azure/blob/main/packages/cadl-samples/data-plane/confidentialledger/confidentialledger.cadl

[2022-08-23 05:15] AlexanderSher commented on #2577
autorest.csharp part is done, emitter part remains

[2022-08-23 05:28] chunyu3 commented on #2577
I am working on emitter part for auth.

[2022-08-23 08:25] chunyu3 commented on #2577
emit user authentication in PR https://github.com/Azure/autorest.csharp/pull/2628

[2022-08-23 09:15] Yao725 opened #2639 "Support removing the inheritance of ResourceData"
Currently we have a configuration named `no-type-replacement`, we might also need a new configuration to support making data models that don't exactly fit the resource definition no longer inherit from `ResourceData`.

[2022-08-23 13:12] chnyda commented on #2416
Is there any update about the fix?

[2022-08-23 16:07] christothes commented on #2620
Although the generator now completes successfully, it generates an invalid option reference.

For example, it generates this:
[code]

Where it should be:
[code]

[2022-08-23 16:12] AlexanderSher commented on #2638
Hi @cataggar , why have you removed `azure-arm: true`?

[2022-08-23 16:46] cataggar commented on #2638
@AlexanderSher,

If I add it back, I get:

     at AutoRest.CSharp.AutoRest.Plugins.CSharpGen.ValidateConfiguration() in D:\a\_work\1\s\autorest.csharp\src\AutoRest.CSharp\Common\AutoRest\Plugins\CSha
  rpGen.cs:line 72
     at AutoRest.CSharp.AutoRest.Plugins.CSharpGen.ExecuteAsync(Task`1 codeModelTask) in D:\a\_work\1\s\autorest.csharp\src\AutoRest.CSharp\Common\AutoRest\P
  lugins\CSharpGen.cs:

[2022-08-23 16:55] softworkz commented on #2416
This project is no longer useful or usable for anybody outside of MS.

The focus has clearly shifted on addressing MS internal requirements - which is totally fine IMO, but it would have been (would be) much better to continue the (publicly useless) work on 3.x privately and keep the (useful) 2.x branch public and in a working state instead of breaking all existing usages.

("breaking" due to the

[2022-08-23 16:58] softworkz commented on #2416
BTW, after having tried dozen**s**(!) of version combinations, here's the **magic** one that works:

[code]

[2022-08-23 17:25] AlexanderSher commented on #2638
This is the issue you need to address in your input. Here is the property in question: https://github.com/Azure/azure-rest-api-specs-pr/blob/AVS/2022-05/specification/vmware/resource-manager/Microsoft.AVS/stable/2022-05-01/vmware.json#L5365

[2022-08-23 17:28] AlexanderSher commented on #2620
How `QueryOptions` is defined?

[2022-08-23 17:58] christothes commented on #2620
https://github.com/Azure/azure-sdk-for-net/blob/4a69ee70d9b5b45a2fd01e8e8a13a77bf2ea1b10/sdk/tables/Azure.Data.Tables/src/Generated/Models/QueryOptions.cs

[2022-08-23 17:59] cataggar commented on #2638
Even with that removed, `azure-arm` is creating completely different code than before. I'd like to stay focused on `generation1-convience-client` for this issue. Any idea why a top level client is no longer generated?

[2022-08-23 19:01] ShivangiReja commented on #2620
I think `queryOptions` parameter is not correct, since DPG methods don't take generated model as a parameter.

[2022-08-23 19:33] AlexanderSher commented on #2620
yes, and it is a grouped parameter. But in DPG, we generate them correctly. @christothes , what is the signature of protocol method?

[2022-08-23 19:38] christothes commented on #2620
The top snippet above is what was generated for the protocol method.

[2022-08-23 20:10] ShivangiReja commented on #2620
@christothes The snippet you added above is for CreateRequest method, it should also generate a protocol method as mentioned in [this](https://github.com/Azure/azure-sdk-for-net/blob/main/doc/DataPlaneCodeGeneration/Add_ProtocolMethods_In_Gen1_Convenience_Client_Generated_SDK.md#generated-code-after) doc.

[2022-08-23 21:18] AlexanderSher commented on #2638
You have swagger input for resource manager, so correct setting is `azure-arm: true`
@m-nash , @Yao725 , @ArcturusZhang  - can you please take a look?

[2022-08-23 21:49] christothes commented on #2620
ah - yes, sorry. Here is the generated protocol method:

[code]

[2022-08-23 23:50] KrzysztofCwalina commented on #2518
One thing we shoudl explore is improving Utf8JsonContent. The type looks like it has too much indirection: both IS and HAS RequestContent. I think a better implementation would rely on something like the following: https://gist.github.com/KrzysztofCwalina/9c9d5ae7ee750fa9105fecfb0656b2da

[2022-08-24 03:52] archerzz opened #2642 "remove excessive null check inside `Optional.IsDefined()` block"
**Describe the issue or request**

In the generated serialization codes, we have null check like below: https://github.com/Azure/autorest.csharp/blob/14b67abe16e937f2ce7e24bd63a91545b5dbec98/test/TestProjects/MgmtDiscriminator/Generated/Models/CacheExpirationActionParameters.Serialization.cs#L25-L36

However, if you check the implementation of [Optional.cs](https://github.com/Azure/autorest.csharp

[2022-08-24 08:35] archerzz commented on #2642
I found one case that null check is useful. `Optional.IsCollectionDefined` will return true if `null` is given. Normally that should not happen since collection properties are not allowed to be null. But in case that happened, the null check can defend from that.

[code]

Is that the purpose of the null check? If so, then at least we can optimize the null check for non-collection types.

[2022-08-24 08:56] #2490 closed

[2022-08-24 09:00] archerzz commented on #2341
The last piece `ReadonlyModel` depends on the nested model type support.

[2022-08-24 09:11] pshao25 opened #2643 "No headers in request method"
**Symptom:**
In request method, there is no header set:
https://github.com/pshao25/autorest.csharp/blob/4dc1fd395672d24b5f3f5219d8ef1b5456a65a75/test/CadlRanchProjects/dev-driven/Generated/TestserverClient.cs#L494-L507
Post content cannot be successfully sent. (at least cadl ranch cannot get this value.)

**Expected:**
https://github.com/pshao25/autorest.csharp/blob/4dc1fd395672d24b5f3f5219d8ef1b5

[2022-08-24 10:17] lirenhe opened #2644 "August MVP Arch Board: Generate .NET client from TextAnalytics service"
As discussed, let's use TextAnalytics Authoring for Arch board review:

https://github.com/Azure/cadl-azure/blob/main/packages/cadl-samples/data-plane/language/authoring/authoring.cadl

The service contains pagable and LRO which is not supported currently.

[2022-08-24 16:26] AlexanderSher commented on #2642
PR for the reference: https://github.com/Azure/autorest.csharp/pull/830

[2022-08-24 16:29] AlexanderSher commented on #2642
Specifically, this is a commit that added these code bits: https://github.com/Azure/autorest.csharp/pull/830/commits/e1858f03c368fb1e4ed5e96f28ac2a52f57f6d9f

[2022-08-24 17:05] AlexanderSher commented on #2597
No, this issue is for protocol methods. #2553 is for convenience methods.

[2022-08-24 17:42] ArthurMa1978 opened #2645 "Dup parameters caused build failed in EventGrid"
https://github.com/Azure/azure-sdk-for-net/pull/30614

The root cause is from the `WriteChildResourceGetMethod` which combine the parameters from `GetParametersForCollectionEntry` and `GetParametersForResourceEntry` but doesn't filter out the dup ones.

[2022-08-24 17:46] tg-msft commented on #2341
We don't validate, but we do like to code defensively.  There are cases where it's possible for things to become optional in responses in the future (i.e., the service adds a new flag and sends back a different top-level sibling in the response model), but most of the time it's to guard against poorly written swagger.

[2022-08-25 00:57] #2339 closed

[2022-08-25 00:57] #2577 closed

[2022-08-25 00:57] #2592 closed

[2022-08-25 02:19] chunyu3 commented on #2643
Normal head parameter defined in operation will be emit and mark the location 'head'. but the top-level head such as 'content-type' is set to each operation.

[2022-08-25 02:38] AlexanderSher commented on #2643
M4 has generated two parameters:
- contentType: https://github.com/Azure/autorest.csharp/blob/b20e5ee38dce9d743b5c3390118433e2499ff4c1/test/TestServerProjectsLowLevel/dpg-customization/Generated/CodeModel.yaml#L343-L355
- accept: https://github.com/Azure/autorest.csharp/blob/b20e5ee38dce9d743b5c3390118433e2499ff4c1/test/TestServerProjectsLowLevel/dpg-customization/Generated/CodeModel.yaml#L368-L38

[2022-08-25 02:44] AlexanderSher commented on #2643
autorest.python just generates these parameters manually:
https://github.com/Azure/autorest.python/blob/autorestv3/packages/cadl-python/src/emitter.ts#L262-L303
https://github.com/Azure/autorest.python/pull/1387/files

[2022-08-25 03:17] AlexanderSher commented on #2565
We can exclude `Models with discriminator` cause we generate what is needed on CADL side and it doesn't create any problems on the autorest.csharp side

[2022-08-25 04:12] #2516 closed

[2022-08-25 08:09] archerzz commented on #2453
CADL `Map<K,V>` is replaced by `Record<V>`. The design is in #2474

[2022-08-25 08:12] #2480 closed

[2022-08-25 09:27] #2645 closed

[2022-08-25 09:31] ArthurMa1978 commented on #2629
This issue can be mitigated by removing all dup operations and only have the scope one for SDK, this issue, so close.

[2022-08-25 09:31] #2629 closed

[2022-08-25 09:32] #2430 closed

[2022-08-25 13:32] #2341 closed

[2022-08-25 17:56] #2503 closed

[2022-08-26 06:23] lirenhe opened #2650 "Support Customization with CADL input in DPG"
Need to verify whether CADL+DPG could still support the customization on models:
Detailed description could be found in https://github.com/Azure/autorest.csharp#customizing-the-generated-code

**Pre-generation customizations:**
- [ ] Make a model internal (only model itself becomes internal - all usages of the models must be updated manually)
- [ ] Rename a model class
- [ ] Change a model or clie

[2022-08-26 07:05] lirenhe commented on #2644
I tried it with the current CADL emitter and got the following error.

cadl compile --emit @azure-tools/cadl-csharp  .
Cadl compiler v0.34.0

routes:16
"/authoring/analyze-text/projects/{projectName}"
load operation: createOrUpdate, path:/authoring/analyze-text/projects/{projectName}
"/authoring/analyze-text/projects/{projectName}"
load operation: get, path:/authoring/analyze-text/projects/{projec

[2022-08-26 12:58] #2620 closed

[2022-08-26 16:29] annelo-msft commented on #2578
That, as well as the resiliency test cases Laurent created in the cadl-ranch repo.

[2022-08-26 16:32] annelo-msft commented on #2597
Ah, if it's for protocol methods, then it is in the August MVP milestone.

[2022-08-26 17:44] annelo-msft commented on #2650
@lirenhe, let's first find out why we need to support these with the new process in place, and whether we should support them as C# partial class transforms or in a convenience layer description in Cadl.

@KrzysztofCwalina, @tg-msft FYI

[2022-08-26 17:46] annelo-msft commented on #2644
@lirenhe, are there any features in this Cadl that we don't have issues for yet?

[2022-08-26 18:05] heaths opened #2662 "azure-sdk-for-net check does not like multiple security definitions"
Whenever a [change](https://github.com/Azure/azure-rest-api-specs/pull/20326/checks?check_run_id=8036583936) uses multiple security definitions because they support both of them, the azure-sdk-for-net check fails with the same error:

[code]

Multiple security definitions are supported, so this is an erroneous result.

[2022-08-26 18:52] AlexanderSher commented on #2650
Bulk changes are done via swagger-specific transformations, so they are out of scope of this task.

[2022-08-26 19:53] AlexanderSher commented on #2650
We need this to resolve issue described in https://github.com/Azure/cadl-ranch/pull/49 (at least property renaming item).

[2022-08-26 20:12] AlexanderSher commented on #2650
`Changing member doc comment` is not a separate customization - it comes in a batch with replacing of generated property

[2022-08-27 01:07] pshao25 commented on #2597
@annelo-msft still, there is no place we could know whwther an operation is multi content type, because cadl haven't suppport it yet.

[2022-08-29 03:53] ArthurMa1978 opened #2651 "Generate report / document to provide one-one mapping from SDK API to REST API"
As we did too much naming / type / structure polishings in .NET SDK side, so it's hard to find the corresponding REAT API info from SDK.

[2022-08-29 07:14] chunyu3 opened #2653 "support content-types defined in CADL"
in CADL, @consumes @produces @head is used to define content-type. .NET codegen need to support content-type:
1. single content-type
2. multiple content-types

[2022-08-29 07:18] chunyu3 opened #2654 "Emit Input/Output Models"
CADL emitter emit Input/output Models in cadl json

[2022-08-29 08:42] Yao725 opened #2655 "DateTimeOffest deserialization issue"
Currently we use this method to deserialize the value when its type is `DateTimeOffset`:
[code]
According to the [doc](https://docs.microsoft.com/en-us/dotnet/standard/datetime/system-text-json-support), this method will try to parse the DateTime and DateTimeOffset values according to the ISO 8601-1:2019 extended profile. For example, the value should have the format like `2019-07-26T16:59:57-05:0

[2022-08-29 09:00] lirenhe commented on #2644
As the emitter still failed with this CADL, there are a couple of decorators that I am not sure whether we could handle it correctly:

@versionedDependency(Azure.Core.Versions.v1_0_Preview_1)

@parentResource(Project)

Azure.Core.Foundations.AcceptedResponse & Foundations.LongRunningStatusLocation.

Will double check after the emitter could work fine.   @chunyu3

[2022-08-29 18:54] annelo-msft commented on #2650
That test case is intended to cover the DPG 1.0 parity requirement, we should not require a full customization layer to address that requirement.

[2022-08-29 21:36] annelo-msft commented on #2361
Per @KrzysztofCwalina, it is acceptable for DPG 2.0 to generate the same output as the HLC generator.  @AlexanderSher FYI.
As such, I am removing the `needs-design` label.

[2022-08-30 02:41] AlexanderSher commented on #2594
The difference in output is caused by the difference in input.
- In swagger version, response has schema of type object: https://github.com/Azure/autorest.testserver/blob/main/swagger/dpg-initial.json#L19-L24
- In CADL version, response has no body:
https://github.com/Azure/cadl-ranch/blob/c4f41f483eac812527f7b6dc837bd22d255a18ed/packages/cadl-ranch-specs/http/resiliency/srv-driven-1/main.cadl#L29

[2022-08-30 02:41] #2594 closed

[2022-08-30 03:14] archerzz commented on #2453
@annelo-msft I've added the initial support of dictionary support in #2657

You can refer to the following test cases for the expected output. I checked the contents which look fine to me.

- general test cases: https://github.com/Azure/autorest.csharp/blob/feature/v3/test/AutoRest.TestServerLowLevel.Tests/LowLevel/Generation/DictionaryWritingTests.cs
- optional dictionary property: https://github

[2022-08-30 03:47] #2650 closed

[2022-08-30 07:36] archerzz commented on #2489
I think this issue should have been completed.

[2022-08-30 07:51] chunyu3 commented on #2644
@lirenhe CADL emitter can emit the json file. But you need to install "@cadl-lang/versioning": "~0.6.0", "@azure-tools/cadl-azure-core": "0.6.0".
And there are some special primitive type incorrect, I will resolve.

For .NET codegen, we force each enum should have description, so need to add description for `ProjectKind` in the cadl file https://github.com/Azure/cadl-azure/blob/main/packages/cadl-

[2022-08-30 07:54] chunyu3 commented on #2644
When autorest.csharp generate SDK from the emitted cadl.json, stack overflow.

[2022-08-30 14:28] lirenhe commented on #2489
Thanks @archerzz.
@AlexanderSher,  feel free to close this item if there is no additonal work needed.

[2022-08-30 15:40] BrunoASP2001 opened #2661 "Can't add bearer authentication token"
**Describe the issue or request**
Hi everyone!
I have already posted part of this issue on AutoRest's main github (you can see the post for more information here https://github.com/Azure/autorest/issues/4624), after some discussing there, they suggested that I asked the new issue here.
So, I want to use the class library that AutoRest generated from LiveTiles's Reach API, problem is that I need to

[2022-08-30 18:42] ShivangiReja commented on #1296
@AlexanderSher, @annelo-msft, @lirenhe we have a customer(@ssghoda) who wants to use this feature. Can someone please look into it?

[2022-08-31 08:23] lirenhe commented on #2644
@chunyu3,  is there any useful information in the error log?

cc @archerzz  @AlexanderSher

[2022-08-31 09:09] archerzz commented on #2402
Found two issues during CADL compilation into `cadl.json`:
- Looks like the content in the second import (`./identityservice.cadl`) is not processed: https://github.com/Azure/cadl-azure/blob/031a45243f8974d48bfc7165b14180795ad373b6/packages/cadl-samples/data-plane/confidentialledger/main.cadl#L1-L2
- There is an unknown kind for `statusCode`, worked around by manually editing the `cadl.json` to ch

[2022-08-31 09:11] lirenhe commented on #2336
based on the discussion with @lmazuel, let's use

@OpenAPI.extension("x-ms-convenient-api", true)
op foo(): {};

As a workaround to unblock this work.  Please note, the JSON/YAML that comes out of the emitter must be designed correctly from the start,

[2022-08-31 10:42] archerzz commented on #2644
@chunyu3 It would be helpful if you could provide the final `cadl.json` you use. Thanks.

[2022-08-31 13:26] lirenhe commented on #2453
@archerzz, can we close this item?

[2022-08-31 15:58] annelo-msft commented on #2453
@archerzz, I don't see where the output models are - the files containing types that have dictionary properties.  Can you provide links to the Cadl input and generated output?

[2022-09-01 00:51] lirenhe commented on #2550
Will move to 2.0 beta as srv-driven2 is not a correct CADL file.

[2022-09-01 01:15] lirenhe commented on #2402
@archerzz, could you fix issues you found directly or do you need some more input from others?

[2022-09-01 01:27] lirenhe commented on #1296
@scottaddie,  could you help to follow up on this?

[2022-09-01 01:40] archerzz commented on #2453
@annelo-msft I didn't write the Cadl file for model generation. I always start from the InputModel, assuming the emitter will generate the correct JSON output.
- Here are the InputModel definition for output models: https://github.com/Azure/autorest.csharp/blob/8cfc0d7838c9736de204d4d9ab726acd8bdb3f56/test/AutoRest.TestServerLowLevel.Tests/LowLevel/Generation/DictionaryWritingTests.cs?rgh-link-dat

[2022-09-01 03:40] lirenhe commented on #2644
@archerzz ， @chunyu3，@AlexanderSher  when this work completes, could you submit a 'review only' PR for the SDK generated, it would be helpful for others to review the generated SDK.

[2022-09-01 03:41] lirenhe commented on #2402
@archerzz,  when this work completes, could you submit a 'review only' PR for the SDK generated, it would be helpful for others to review the generated SDK.

[2022-09-01 04:10] lirenhe opened #2665 "Provide the design spec of high level architecture for CADL+DPG"
Most of the design issues of CADL+DPG are solved now and I believe the overall architecture design for dotnet is quite stable now.
Please help to provide the design spec of high level architecture for CADL+DPG.
It would be useful to continue the future refactoring of our codebase including mgmt. SDK.

[2022-09-01 05:28] AlexanderSher commented on #2661
Hi @BrunoASP2001 , please remove `azure-arm` from readme-reach.md and add `security` section to your input:
![image](https://user-images.githubusercontent.com/8933858/187838087-a27b7566-d755-422b-89c1-a0a55da0271c.png)

[2022-09-01 05:53] #2113 closed

[2022-09-01 07:42] ArthurMa1978 commented on #2511
Not replace `DayOfWeek/DaysOfWeek`.
Can use `request-method` to change the format to `RequestMethod`, https://github.com/Azure/azure-sdk-for-net/blob/ac6d7e7f5502c03cd9b62992e4f4083819a07d74/sdk/apimanagement/Azure.ResourceManager.ApiManagement/src/autorest.md?plain=1#L125

[2022-09-01 09:47] chunyu3 commented on #2644
The codegen over flow when handle delete lro method.
[code]
attached the cadl json file which only contains this method and will cause stack overflow.
[cadl.zip](https://github.com/Azure/autorest.csharp/files/9468792/cadl.zip)

[2022-09-01 10:37] #2195 closed

[2022-09-01 13:44] lirenhe commented on #2653
mutiple content type could be done after August MVP

[2022-09-01 13:51] archerzz commented on #2644
There is an infinite recursion in the codes:

 	AutoRest.CSharp.dll!AutoRest.CSharp.Generation.Types.TypeFactory.CreateType(AutoRest.CSharp.Common.Input.InputType inputType) Line 37	C#
 	AutoRest.CSharp.dll!AutoRest.CSharp.Generation.Types.TypeFactory.CreateType(AutoRest.CSharp.Common.Input.InputType inputType) Line 34	C#
	AutoRest.CSharp.dll!AutoRest.CSharp.Output.Models.Types.ModelTypeProvider.G

[2022-09-01 15:52] archerzz opened #2667 "defect(dpg): infinite recursion when initializing model"
**Describe the issue or request**
There is an infinite recursion in the codes:

 	AutoRest.CSharp.dll!AutoRest.CSharp.Generation.Types.TypeFactory.CreateType(AutoRest.CSharp.Common.Input.InputType inputType) Line 37	C#
 	AutoRest.CSharp.dll!AutoRest.CSharp.Generation.Types.TypeFactory.CreateType(AutoRest.CSharp.Common.Input.InputType inputType) Line 34	C#
	AutoRest.CSharp.dll!AutoRest.CSharp.Outpu

[2022-09-01 18:42] #2109 closed

[2022-09-01 18:43] #2021 closed

[2022-09-01 18:43] #1942 closed

[2022-09-01 18:43] #1550 closed

[2022-09-01 18:51] #1359 closed

[2022-09-01 20:43] #2525 closed

[2022-09-02 00:54] #2667 closed

[2022-09-02 01:02] cataggar commented on #1411
This took me a couple a few hours today to hunt down. These two properties control if sources files from `Shared/Core` or `Shared/Management` are included in your project.

[code]

![image](https://user-images.githubusercontent.com/87583576/188036849-2e258aea-720b-4078-88a3-0be7ace215a5.png)

[2022-09-02 02:40] Yao725 commented on #2638
Hi @cataggar, you should not use the flag `generation1-convenience-client`, this is for data plane generation. If you want to have the top-level client, you should use this [script](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/avs/Microsoft.Azure.Management.Avs/src/generate.ps1) to generate the track 1 code management plane library. Azure.ResourceManager.Avs belongs to the track 2 mana

[2022-09-02 05:00] #2574 closed

[2022-09-02 10:42] pshao25 opened #2671 "Support JSON payload that are not object or array in convenience method"
This is what we generated for https://github.com/Azure/cadl-ranch/blob/7435655e82b732b3573379f76e0e613423d244e9/packages/cadl-ranch-specs/http/hello/main.cadl#L19
[code]
Pay attention to `string.FromResponse(response)`, which cannot pass compilation.

We should design how we could parse from a `Response` to a framework type (int, string, array, etc).

Here is an example how HLC does: https://githu

[2022-09-02 18:10] lmazuel opened #2672 "Support for operation-location/resourceLocation polling"
One of the LRO pattern used by service teams, is:
- Returns a 202 with a Operation-Location header
- This payload contains a "status" key with current progress
- Once "status" reached a final state, if the state is success, do a finalGet on `resourceLocation` if present

This is an example of final payload:
[code]

This is already supported in Java, Python and TS. I'm happy to provide additional g

[2022-09-02 18:34] #2643 closed

[2022-09-04 01:14] pshao25 opened #2673 "Support array payload in convenience method"
Returning an array (of string is the most always case) exists on real life, but we haven't support is now.

Cadl:
[code]

What we generate now is:
[code]
Pay attention to `IList<string>.FromResponse(response)` which is invalid.

Epic: https://github.com/Azure/cadl-azure/issues/1943

[2022-09-04 02:47] pshao25 commented on #2673
We could change it to
[code]

[2022-09-05 05:57] pshao25 opened #2674 "Model with BinaryData property cannot be serialized"
This is how the model is [defined](https://github.com/Azure/autorest.csharp/blob/59a2aa9170/test/CadlRanchProjects/property-types/Generated/BytesProperty.cs) (cadl [here](https://github.com/Azure/cadl-ranch/blob/9e5ddbeda8413655341e92392ea288ccc67f2064/packages/cadl-ranch-specs/http/models/property-types/main.cadl#L67)). It has a property wth type `BinaryData`.
[code]
We cannot pass this test case

[2022-09-05 06:50] pshao25 opened #2675 "Incorrect extensible enum generation when it is a property of a model"
Cadl:
https://github.com/Azure/cadl-ranch/blob/9e5ddbeda8413655341e92392ea288ccc67f2064/packages/cadl-ranch-specs/http/models/property-types/main.cadl#L116

Actual generated model:
https://github.com/Azure/autorest.csharp/blob/59a2aa917077017b28a8a90c474673b81f273d85/test/CadlRanchProjects/property-types/Generated/ExtensibleEnumProperty.cs

It has property:
[code]
Expected: We should generate `Inn

[2022-09-05 07:31] shrja-ms opened #2677 "Autorest is not creating csharp package"
Hi,

I am getting following error while running autorest tool.
Swagger: https://msazure.visualstudio.com/One/_git/Mgmt-RecoverySvcs-WkloadCoord?path=/src/Documents/Swaggers/ArmBasedSwagger/ArmSwagger.json&version=GBdevelop

**autorest --csharp [--input-file=ArmSwagger.json**]([url](url))
AutoRest code generation utility [cli version: 3.6.2; node: v16.17.0]
(C) 2018 Microsoft Corporation.
https://a

[2022-09-05 07:48] lirenhe commented on #2674
It should be solved by https://github.com/Azure/autorest.csharp/issues/2516.  @archerzz, could you help to investigate?

[2022-09-05 08:23] pshao25 commented on #2675
Simplify the cadl file here:
[code]

[2022-09-05 08:44] Yao725 opened #2678 "Improve logic in abstract base class"
Now we will change the base class to be abstract in management plane when the model is used in polymorphism, but the current implementation doesn't consider the potential duplicated schema name and discriminator value conflict issue, which may be a risk in the future.

Therefore, open this issue to track this problem and make it a Todo item.

[2022-09-05 08:51] lirenhe commented on #2671
Based on the discussion, this may not be a real scenario. Put this into the backlog.

[2022-09-05 09:37] lirenhe commented on #2672
@lmazuel, I am looking at https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/async-api-reference.md#202-accepted-and-location-headers, the doc is not clear about:

5.If the operation is complete, return the exact same response that would have been returned had the operation been executed synchronously.

Will the payload be returned together with the call of 'status = succeed' or

[2022-09-05 10:00] archerzz commented on #2674
It's the same issue in https://github.com/Azure/autorest.csharp/issues/2447

The problem is that the value of `BinaryData.FromString("aGVsbG8sIHdvcmxkIQ==")` must be quoted, otherwise it is not a valid JSON property value.

See more discussion in the linked issue. The conclusion is that we should provide guide doc on how to correctly get a `BinaryData`.

[2022-09-05 10:04] pshao25 commented on #2675
Looking at what generated from emitter: https://github.com/Azure/autorest.csharp/blob/59a2aa917077017b28a8a90c474673b81f273d85/test/CadlRanchProjects/property-types/Generated/cadl.json#L236
it is emitter issue.

[2022-09-06 01:16] chunyu3 opened #2679 "apiVersion parameter: apiVersion should be an client parameter and set into HTTP request as query parameter"
1. apiVersion should be defined as client parameter, and there will be an _apiView field of client:
[code]

and will be initialized in client constructor: e.g.
![constructor](https://user-images.githubusercontent.com/10458143/188526948-e0e807e6-96a7-422d-b09e-2b6297cbf6d9.png)

2. in each Create***Request method, the HTTP request message will set 'api-version' as query parameter. e.g.
![httpreques

[2022-09-06 08:56] lirenhe commented on #2679
@chunyu3,  could you sumerize what is the current behaviour for the CADL input and what is the expected SDK?

[2022-09-06 11:33] chunyu3 commented on #2679
Scenarios:

1. the client library only has one apiVersion, all the operation has the same api-version
Set _apiVersion Field of client
add api-version head into Http request in Create***Request and will use _apiVersion, as following
[code]
2.  the client library has multiple apiVersion, the operations may have different api version
only add api-version head into HTTP request in Create***Request, an

[2022-09-06 20:13] lmazuel commented on #2672
@lirenhe this has been confirmed unsopported by DeviceUpdate.

A status monitor always returns a 200, the status check is finished when the `status` key move to a success string. When it does, if `resourceLocation` exists, a final GET must be done on it.

[2022-09-07 01:38] chunyu3 opened #2682 "[emitter]Support 'is' keyword"
Sometimes you want to copy all aspects of a type without creating a nominal inheritance relationship. The `is` keyword can be used for this purpose. It is like spread, but also copies [decorators](https://github.com/microsoft/cadl/blob/0a528079a54ab74de2614cbdd59eb4a907d58e05/docs/tutorial.md#Decorators) in addition to properties. One common use case is to give a better name to a [template](https:

[2022-09-07 03:56] pshao25 opened #2683 "Multiple cadl templates with different real types leads to model conflict"
We need to use cadl templates in `@azure-tools/cadl-azure-core` when we write CADL. Say we have this two operations:
[code]
We could see that both of them use `ResourceRead`. The definition of `ResourceRead` is:
[code]
So current we will generate a model called `ResourceOkResponse` by expanding the properties of real types. But we have two types now: `DeploymentJob` and `Project`. Both of them we

[2022-09-07 04:29] lirenhe commented on #2683
@pshao25, so the ask is about the mutliple names for the model template.  Instead of using different models, can we also generate it as a template class?

cc @annelo-msft

[2022-09-07 04:59] pshao25 commented on #2683
If we generate it as a template class, the return type of a convenience method would be as long as Task<Response<ResourceOkResponse<DeploymentJob >>>. It would be even longer if it is an LRO.

[2022-09-07 08:19] pshao25 commented on #2335
@KrzysztofCwalina Seems the requirement here is not correct for [DeleteValue](https://github.com/Azure/azure-sdk-for-net/pull/30004/files#diff-0ec10628434582dfdc035202ee4a69f55d2b3d4ab4b6f90fdbbe725f63139367R81-R119).

We agreed before that if there is no body and no return type, then we would not add the convenience API. The delete method meet this condition so that we should not generate the con

[2022-09-07 09:17] lirenhe commented on #2683
In TS, the model name and the template model name are combined to decide the name.
https://github.com/Azure/autorest.typescript/blob/cadl-integration/packages/cadl-rlc-emitter/src/modelUtils.ts#L344-L365

Just FYI, it doesn't mean dotnet should do the same.

[2022-09-07 15:50] jsquire commented on #2683
This seems like an area where we should start an architect discussion.   However, I'm unable to follow we're actually discussing.   It would be helpful to see a side-by-side comparison of the CADL to each option for generated output that is under consideration.   Once there's clarity on those options, please loop in Krzysztof for discussion/decisions.

[2022-09-08 00:44] ArthurMa1978 opened #2684 "The `rename-mapping` can't handle `time` format correctly"
Can generate code for a `time` format by using `rename-mapping` setting, but the serialization code is incorrect which cause build failure.
Change the format by using directive is right.

[2022-09-08 03:40] lirenhe commented on #2336
We shall also filter the models for convinience methods instead of generating a full list of models.

[2022-09-08 08:09] chunyu3 opened #2685 "Support body parameter without @body decorator"
when body parameter without @body decorator, it will not be compiled as bodyParameter and it will not emit this body parameter.

see CreateLedgerEntry operation in ConfidentialLedger. https://github.com/Azure/cadl-azure/tree/main/packages/cadl-samples/data-plane/confidentialledger

[2022-09-08 08:19] HarveyLink opened #2686 "Return property: ManagedServiceIdentity could be null."
**Describe the issue or request**
From ApiManagement, ApiManagementService may return with ManagedServiceIdentity null, block the test.
This should be handled in code-gen.

**Describe your ideas for solutions**
Please describe how you think a change or changes might work. Consider
how these changes might work for multiple services.

**Add labels**
As appropriate, select a label to describe how har

[2022-09-08 08:22] archerzz opened #2687 "[DPG]: Determine client option class name for multiple top-level clients"
**Describe the issue or request**

Right now, we have the following logic to determine the name of a DPG client option class: https://github.com/Azure/autorest.csharp/blob/3aeed711ebbd9e254e29449d755ebb8afde52572/src/AutoRest.CSharp/LowLevel/Output/DpgOutputLibraryBuilder.cs#L102-L106

If there are multiple top-level clients, the class name is from:
1. Configuration `LibraryName`
2. namespace name

[2022-09-08 08:41] ArcturusZhang commented on #2686
We might need to
1. investigate why this happen
2. ensure that if a property has `x-nullable: true`, it could be properly deserialized even if this type is replaced by something else.

[2022-09-08 11:48] archerzz commented on #2687
For Augst MVP, we can work around by manually editing the `Configuration.json` to update the `LibraryName` property to a proper value, so that the generated client option class has a good name.

[2022-09-08 14:11] #2679 closed

[2022-09-08 14:11] #2685 closed

[2022-09-08 21:56] annelo-msft opened #2690 "Only generate a convenience API for a method if the convenience API decorator is applied to the operation"
For August MVP, we are using `@OpenAPI.extension("x-ms-convenient-api", true)` to indicate to the generator that we should generate a convenience method.  Right now, if this decorator is not applied to any operations, convenience methods are still generated for some of them.

**Repro:**
Generate client from this Confidential Ledger Cadl file version: [confidentialledger.cadl](https://github.com/Az

[2022-09-08 22:27] annelo-msft opened #2691 "'endpoint' parameter name is hard-coded in DPG client constructor"
Regardless of what parameter name is specified in the Cadl file, the Uri parameter in the client constructor has the name `endpoint`.

See [this APIView diff] as an example: https://apiview.dev/Assemblies/Review/e25a373b908f49ab9a28436af7aede59?diffRevisionId=7e96474c91474a3c9a4f632f1242ea6a&doc=False&diffOnly=False&revisionId=5884e97baefd495b8ee821f022899c4e

[2022-09-08 22:42] annelo-msft opened #2692 "Generator warning doesn't list line number of Cadl file statement"
Trying to generate a client from the [authoring.cadl](https://github.com/Azure/cadl-azure/blob/main/packages/cadl-samples/data-plane/language/authoring/authoring.cadl) API description, I encountered the following error:

[code]

I added @doc statements to all enums and enum values in the file, but I still got the error.

Proposal: Include the line number of the Cadl file that causes the error, so

[2022-09-09 01:29] chunyu3 opened #2693 "clean output folders"
When we generate the sdk from cadl, we need to clean output folders to remove older files.

For now, we only can clean output folders in emitter.
When `cadl` support one-command line to combine 'model generation' together with SDK generation just like `autorest` does, we can clean output folder at the first step in `cadl`

[2022-09-09 05:35] lirenhe commented on #2692
Today, we required @doc on each model/operation, but in this TA/authoring case, the enum "OperationState" missed doc and it is defined in cadl-azure-core.
Before we have the linter to verify each cadl file before merging, there is no way for us to easily resolve such issues so I suggest we report warning instead of throwing error on this.

@annelo-msft , @chunyu3 , @AlexanderSher

[2022-09-09 17:03] lmazuel opened #2698 "LRO basics from CADL"
First level of support for LRO in CADL, is to consider the presence of `@Azure.Core.pollingOperation` as a boolean switch to generate LRO code, like `x-ms-long-running-operation: true` was doing in Swagger:

[code]
([full example](https://cadlplayground.z22.web.core.windows.net/cadl-azure/?c=aW1wb3J0ICJAY2FkbC1sYW5nL3ZlcnNpb25pbmciOwrJIGF6dXJlLXRvb2xzL8UsxhFjb3JlIjsKCkBzZXJ2aWNlVGl0bGUoIlRleHQgYXV

[2022-09-09 17:05] lmazuel opened #2699 "LRO advanced from CADL"
See https://github.com/Azure/autorest.csharp/issues/2698 for the basics.

As CADL gives more way to detail the precise LRO flow expected, we anticipate more complex work to flow the additional information to codegen, with possibly azure-core update in the meantime.

This issue is not about parity, since we're talking about information that Swagger didn't have a way to declare.

[2022-09-12 05:33] shrja-ms commented on #2677
Hi Can someone please take a look at this?

[2022-09-13 05:51] pshao25 opened #2702 "Set default/global content-type and accept header"
As these decorators are [deprecated](https://github.com/Azure/cadl-ranch/pull/91#discussion_r968738512), we need to figure out a way to set default content-type and accept.
[code]

Solutions:
1. We hard code the default value of content-type/accept header as "application/json".
2. We force user to define the content-type/accept header at operation level.
3. We configure default value in sidecar si

[2022-09-13 08:03] Yao725 commented on #2678
We also need to support renaming the auto generated internal model, which is used to support the forward compatibility in polymorphism.

[2022-09-13 10:15] lirenhe opened #2703 "Support the latest version of CADL Compiler (0.35.0) in dotnet Emitter."
Support the latest version of CADL Compiler (0.35.0) in dotnet Emitter.  https://www.npmjs.com/package/@cadl-lang/compiler
cadl rest: 0.17.0

[2022-09-14 02:38] chunyu3 opened #2704 "[emitter]Upgrade cadl compiler and rest version"
upgrade cadl compiler to 0.35.0 and rest to 0.17.0 in csharp emitter.

[2022-09-14 09:22] #2453 closed

[2022-09-14 12:45] fengzhou-msft opened #2707 "GetAll method in Collection for a Resource when it has a nonresource in the path"
In `DataShare` SDK, the `ConsumerInvitationResource` has the request path `/providers/Microsoft.DataShare/locations/{location}/consumerInvitations/{invitationId}`. `ConsumerInvitationCollection` does not have a `GetAll` method with the path of `/providers/Microsoft.DataShare/locations/{location}/consumerInvitations`. However, the RP has a list method with the path of `/providers/Microsoft.DataShar

[2022-09-14 21:45] annelo-msft commented on #1614
@KrzysztofCwalina, I have a prototype for this, when you're back.

[2022-09-15 02:00] chunyu3 commented on #2704
duplicate with https://github.com/Azure/autorest.csharp/issues/2703

[2022-09-15 07:08] ArthurMa1978 opened #2709 "The generated serialization code for common enum is wrong"
If an enum is common enum and the value is not string, then the generated serialization code is incorrect, like this

[code]
https://github.com/Azure/azure-sdk-for-net/blob/ae614e3f5288b603a5e0060b7c9fe06386664fa1/sdk/botservice/Azure.ResourceManager.BotService/src/Generated/Models/EmailChannelProperties.Serialization.cs#L23

Here the `ToSerialString()` not return a string value, then the code can

[2022-09-15 07:26] ArthurMa1978 opened #2710 "Can't generate correct Tag operation code for BotService"
The issue is coming from the [inconsistent definition in swagger](https://github.com/Azure/azure-rest-api-specs/blob/b749953e21e5c3f275d839862323920ef7bf716e/specification/botservice/resource-manager/Microsoft.BotService/preview/2022-06-15-preview/botservice.json#L304), here to request path:

[code]

the parameter `channelName` for `PUT`, `PATCH` and `POST` are all using `enum` type, but only the

[2022-09-15 10:41] lirenhe commented on #2672
@AlexanderSher, could you take a look?

[2022-09-15 13:31] microsoft-github-policy-service[bot] opened #2711 "This repo is missing a license file"
This repository is currently missing a LICENSE.MD file outlining its license. A license helps users understand how to use your project in a compliant manner. You can find the standard MIT license text at the Microsoft repo templates LICENSE file: https://github.com/microsoft/repo-templates/blob/main/shared/LICENSE.
If you would like to learn more about open source licenses, please visit the docume

[2022-09-16 00:04] ArthurMa1978 commented on #2518
Is this https://github.com/Azure/azure-sdk-for-net/issues/31095 related?

[2022-09-16 00:32] annelo-msft commented on #2518
@ArthurMa1978, it is not.  That issue is about public serialization.  This is about reading/writing models using internal methods.

[2022-09-16 07:22] pshao25 commented on #2675
Fix in https://github.com/Azure/autorest.csharp/pull/2697. So close.

[2022-09-16 07:22] #2675 closed

[2022-09-16 07:28] #2587 closed

[2022-09-16 07:45] lirenhe opened #2712 "Refactor the name of the InputModel to avoid conflict of the model name used in ModelGeneration"
To support CADL, we introduce a new set of InputModel.
We also have model name used in ModelGeneration ( Input/Output/RoundTrip models)

Those 2 set of models are for different purpose but shared the same/similar name which caused a lot of confusion.
We need to refactor the code to avoid this name conflict.

https://github.com/Azure/autorest.csharp/pull/2695#discussion_r969418574

No impact to the

[2022-09-16 07:51] lirenhe commented on #2578
Update the title and we will revisit the items in 2.0beta2

[2022-09-16 07:52] lirenhe commented on #2586
Update the title and move to DPG 2.0 beta2

[2022-09-16 07:54] lirenhe commented on #2644
Close it as we completed the archboard review.

[2022-09-16 07:54] #2644 closed

[2022-09-16 07:55] lirenhe commented on #2674
@archerzz, as mgmt. SDK used the same approach and it is approved by archboard, we could take the same approach.
Feel free to close it if there is no additional work needed.
Please create a seperate issue for doc improvement. thanks

[2022-09-16 09:00] pshao25 commented on #2702
According to https://github.com/microsoft/cadl/blob/main/docs/cadl-for-openapi-dev.md#consumes--produces-oas2, `application/json` is assumed to be the default for http.

We want to have `@header contentType: <value>` be the way to change the content type having those decorators as well cause a lot of confusion specially as they were only allowed on the service namespace. This is consistent to how

[2022-09-16 09:05] lirenhe commented on #2450
@chunyu3, @AlexanderSher , could you work together on the design for this?
There are a couple of decorators and models defined in cadl-azure-core, for most of them, I don't think we need to generate seperate model for them, we should leverage the predefined models in the core library.

[2022-09-16 09:13] lirenhe commented on #2698
@archerzz, could you work on this?  Thanks

[2022-09-16 09:16] lirenhe commented on #2553
As discussed, we need to complete this item by beta2.
@chunyu3  @AlexanderSher， could you work together on the Emitter and codeGen part?  thanks

[2022-09-16 09:29] lirenhe commented on #2332
Update the title and use this issue to track the work for protocal methods generation for paging

[2022-09-16 09:31] lirenhe commented on #2332
@chunyu3, could you take a look?

[2022-09-16 09:32] lirenhe commented on #2673
@pshao25, could you take a look?  thanks

[2022-09-16 09:37] lirenhe commented on #2361
@AlexanderSher, do we have the InputModel defined for polymorphic models?

[2022-09-16 10:00] pshao25 commented on #2673
@KrzysztofCwalina @tg-msft Could you review the design above is OK for you? It is almost the same as HLC.

[2022-09-16 10:20] #2703 closed

[2022-09-16 12:39] bogdangd commented on #198
Thanks @ShivangiReja and @abmis-mi, I was also stuck finding an answer to this question.
In my case, the `--generation1-convenience-client` flag only worked in combination with `--v3`:
`autorest --input-file="swagger.json" --csharp --generation1-convenience-client --v3`

[2022-09-16 17:35] ShivangiReja commented on #198
CC: @lirenhe, @chunyu3

[2022-09-16 21:41] AlexanderSher commented on #2665
Resolved in https://github.com/Azure/autorest.csharp/pull/2695

[2022-09-16 21:41] #2665 closed

[2022-09-19 05:21] Yao725 commented on #2655
It turns out that this problem comes from that we missed the implementation to update the serialization format in the `rename mapping` configuration. If we use directive to change the format to `date-time`, the generated code will be:
[code]

[2022-09-19 05:21] #2655 closed

[2022-09-19 07:27] #2565 closed

[2022-09-19 08:29] #2702 closed

[2022-09-19 08:57] chunyu3 commented on #2677
The `definition/properties` model is not correct defined in swagger line 788
![image](https://user-images.githubusercontent.com/10458143/190982785-52fca548-7635-450a-99a1-e9f2efa0b609.png)

It is not correct for an object which cause the yaml deseriaze failure

[2022-09-19 10:37] shrja-ms commented on #2677
Hi @chunyu3 Thanks for looking into the issue, I tried adding the discriminator, and then tool gave no error, but did not generate the models.

![image](https://user-images.githubusercontent.com/77041475/190999834-6bd6c7d9-d745-4c29-a9fa-b15e21ac94ec.png)

![image](https://user-images.githubusercontent.com/77041475/190999769-11e8a979-56c1-4c77-854e-0918b1f57174.png)

[2022-09-19 15:49] rquackenbush opened #2714 "[CodeGenSuppress] and [CodeGenModel] not being applied to generated code"
**Describe the bug**
I am attempting to customize two aspects of code generation for a c# client:
- The name of a model (`Person` to `PersonCustomized` via the `[CodeGenModel]` attribute
- Suppressing the generation of a method (`AddPersonAsync`) via the `[CodeGenSuppress]` attribute.

Open API file / command / options are included in the repro here: https://github.com/rquackenbush/AutoRestCustomi

[2022-09-19 22:16] AlexanderSher commented on #2714
Paths for output folder and project folder were specified incorrectly:
[code]

[2022-09-20 00:28] rquackenbush commented on #2714
That was it! You're my hero!!!

[2022-09-20 00:28] #2714 closed

[2022-09-20 01:11] chunyu3 commented on #2677
Is the service 'Management-plane' or 'Data-plane'?
if it is 'Management-plane', you need to set `azure-arm: true` in readme.md, or add `--azure-arm` in command line.
If it is 'Data-plane', our codegen will generate DPG library which only contains Protocol Methods without Models.

[2022-09-20 02:06] chunyu3 opened #2715 "Support Paging from CADL"
Support Paging:
- [x] emit paging schema
- [x] generate paging protocol method
- [x] generate paging convenience method

[2022-09-20 02:09] chunyu3 opened #2716 "support ResponseHeader"
support response header:
- [ ] emit response header model
- [ ] convert codemodel HttpResponseHeader to InputModel OperationResponseHeader

[2022-09-20 05:04] shrja-ms commented on #2677
Hi @chunyu3 Thanks for prompt response.
But I am wondering why this change that for Data-plane no Models?

We also own another swagger https://github.com/Azure/azure-rest-api-specs-pr/pull/7113 which is a dataplane set, but we need the models.
What is the way out for using autorest and get the models for such cases?

[2022-09-20 05:17] lirenhe commented on #2514
@archerzz, could you help to check whether there are any engineer effort in this issue?  thanks

[2022-09-20 05:20] lirenhe commented on #2484
I believe the requirement is clear for supporting inheritance and the eng team should be unblocked for this.

[2022-09-20 06:32] chunyu3 commented on #2677
Hi @shrja-ms  For Data-plane, we only generate protocol method without models. And if you want to generate methods together with models, you may need use cadl instead of swagger. Please contact @lmazuel about it. Thanks

[2022-09-20 06:44] archerzz commented on #2514
Right now we don't use `.Models` namespace for models. So, model classes are generated under the same namespace of client classes.

If we decided to use `.Models` namespace by default and provide options to override, then there will be engineering efforts that:
- change default namespace of model classes to `XXX.Models`
- support configuration to override namespace

[2022-09-20 21:23] AlexanderSher opened #2719 "Provide design for convenience methods for operations with more than one success status code"
Some operations may declare more than one successful status code: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/cosmos-db/data-plane/Microsoft.Tables/preview/2019-02-02/table.json#L146

Right now, `Azure.Core.ResponseClassifier` handles only error codes.

[2022-09-20 22:11] AlexanderSher opened #2720 "Provide design for mapping between response headers and models."
Some services define custom response headers. For example, [`ContainerRegistry_CreateManifest`](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/containerregistry/data-plane/Azure.ContainerRegistry/stable/2021-07-01/containerregistry.json#L149)

In HLC, `ContainerRegistryRestClient.CreateManifest` method returns internal [`ResponseWithHeaders<ContainerRegistryCreateManifestHea

[2022-09-21 00:38] ArthurMa1978 commented on #2351
Customer report similar ask here https://github.com/Azure/azure-sdk-for-net/issues/31095

[2022-09-21 03:33] pshao25 opened #2721 "Codegen target framework vs pipeline runtime"
Background:
1. We have this requirement from engineering team to [bump .net version to 6.0](https://github.com/Azure/autorest.csharp/pull/1759/files).
2. Our codegen targets [netcoreapp3.1](https://github.com/Azure/autorest.csharp/blob/e4c8eda8abc60542b451a67a732e0afaa21c17d3/src/AutoRest.CSharp/AutoRest.CSharp.csproj#L7).
3. We have two ways to invoke codegen in pipeline: one is by [autorest plug

[2022-09-21 03:34] #2625 closed

[2022-09-21 03:39] #2467 closed

[2022-09-21 06:41] #2522 closed

[2022-09-21 10:21] karthikgithub2 opened #2727 "Command line tool to generate client code in C# (target = .Net Framework 4.8) for an Open API"
AutoRest seems to generate client code targeted for C# .Net Core. Do we have option to generate for C# targeted for .Net Framework 4.8?

[2022-09-21 10:34] #2674 closed

[2022-09-21 15:52] markm77 opened #2724 "C# model generation"
Hi there,

I have been using AutoRest for C# model generation for a while now - it's part of how I create models for my open source .NET project here: https://github.com/finlabsuk/open-banking-connector .

It seems model generation has been removed: https://github.com/Azure/autorest.csharp/issues/2416

Is this a permanent decision or do you plan to re-enable model generation in the future?

It's q

[2022-09-21 20:49] heaths opened #2726 "DPG LROs for `PATCH` method do not return final response from original URI"
Cognitive Services - Question Answering has a couple of LROs that use a `PATCH` method (management-style, apparently): https://github.com/Azure/azure-rest-api-specs/blob/8ff0e3b8dc12cd793f4f2208d76f9f3a7f51176c/specification/cognitiveservices/data-plane/Language/stable/2021-10-01/questionanswering-authoring.json#L731

The intent seems to be that a final `GET` on the same endpoint should be done wh

[2022-09-21 20:51] heaths commented on #2726
Relevant code in Python: https://github.com/Azure/azure-sdk-for-python/blob/1015d60ed677e5b5245d817d22beaf1721195f7b/sdk/core/azure-core/azure/core/polling/base_polling.py#L252-L253

[2022-09-21 22:10] AlexanderSher commented on #2726
Translating python logic into `NextLinkOperationImplementation` terms:
[code]

[2022-09-22 01:04] chunyu3 commented on #2376
@AlexanderSher will discuss with @heaths .

[2022-09-22 01:09] chunyu3 commented on #2553
depend on design https://github.com/Azure/autorest.csharp/issues/2619

[2022-09-22 01:21] archerzz commented on #2698
After discussion, for the 1st phase, we will:

- [ ] Consume `@Azure.Core.pollingOperation` only as a flag to mark an LRO operation.
- [ ] Assume the final state URL is fetched from `Location` response header. `original-uri` is for mgmt plane.
- [ ] [Open for discussion] Hide operations defined in `@Azure.Core.pollingOperation`. Those operations should be internal.

[2022-09-22 01:24] chunyu3 commented on #2672
duplicate with https://github.com/Azure/autorest.csharp/issues/2726
@AlexanderSher  will create an PR to resolve this.

[2022-09-22 01:30] chunyu3 commented on #2484
- polymorphism-with-discriminator: will follow the same design as HLC. ( use base type as input parameter or return type, and Deserialize to actual derived type according to discriminator in base type deserialize met
- extends-without-discrminator: Need to confirm if we need to support this. We may not generate those models. Need to confirm if we need cadl-lint-rule to avoid those definition.

[2022-09-22 01:34] chunyu3 commented on #2361
same as https://github.com/Azure/autorest.csharp/issues/2484

[2022-09-22 09:42] pshao25 commented on #2626
@KrzysztofCwalina @tg-msft Python will append a "Property" to the property name. How about we generate this case as
[code]
and if there already have a `MessageProperty` like
[code]
we could generate as
[code]

Another solution is: we don't do anything, let users do the customization.

What do you think?

[2022-09-22 17:24] #2571 closed

[2022-09-22 22:05] mpodwysocki opened #2730 "C# CADL Generation issue"
**Describe the issue or request**

Trying to generate a C# project via CADL for [Azure Notification Hubs](https://github.com/mpodwysocki/azure-notificationhubs-cadl)

The CADL is being generated using the following where we have a relative path to the autorest Emitter.CSharp project

[code]

After adding a [`Configuration.json`](https://github.com/mpodwysocki/azure-notificationhubs-cadl/blob/main/

[2022-09-22 22:09] AlexanderSher commented on #2730
[main.cadl](https://github.com/mpodwysocki/azure-notificationhubs-cadl/blob/main/main.cadl) declares two parameters in @server:
[code]

[cadl.json](https://github.com/mpodwysocki/azure-notificationhubs-cadl/blob/main/cadl-output/csharp/cadl.json#L1613-L1631) contains only `namespaceName`

[2022-09-23 02:56] chunyu3 commented on #2730
We will give out a fix to support multiple parameters in service url.

[2022-09-23 04:58] archerzz opened #2732 "dpg: temporarily disable enum description check"
**Describe the issue or request**

In upstream libraries, sometimes enum types are defined wtihout `@doc` which will result in error in our generator because there is no description for enum type. It causes headache for development, since it's not easy to work around that. I suggest we should temporarily disable this check until there is good quality and linter in the upstream libraries.

[2022-09-23 05:05] archerzz opened #2733 "bug(dpg): anonymous cadl type definition will result in parameters without name"
**Describe the issue or request**
See the [sample CADL file](https://cadlplayground.z22.web.core.windows.net/cadl-azure/?c=aW1wb3J0ICJAY2FkbC1sYW5nL3ZlcnNpb25pbmciOwrJIGF6dXJlLXRvb2xzL8UsxhFjb3JlIjsKCkBzZXJ2aWNlVGl0bGUoIlRleHQgYXV0aG9yxEgpCi8vQFbJWC7HY2VkKFPGN8cccykKbmFtZXNwYWNlIMREQchDOwoKZW51bSDPMCB7CiAgdjE6ICIyMDIxLTDEAyIsxBQyxhQyLTA5LTEyIiwKfQoKQENhZGwuUmVzdC5yZXNvdXJjZSgicHJvamVjdHMiKQptb2Rlb

[2022-09-23 06:09] chunyu3 commented on #2733
For those anonymous body parameter/model, we will provide an name `${operation.Name}Properties`.

[2022-09-23 08:01] #2661 closed

[2022-09-23 21:13] heaths commented on #2726
FWIW, I updated my swagger transforms to change the `final-state-via` to `original-uri`:
[code]
But even that doesn't work because the existing implementation has this check:
[code]
That last conditional clause has a `_originalResponseHasLocation` check which isn't true. Seems to me that removing the cloud-unfriendly check for PATCH operations against "management.azure.com" might be best. Maybe wi

[2022-09-23 23:44] annelo-msft commented on #2518
For deserialization, a proposal is here: https://gist.github.com/annelo-msft/7d57f2d10a411750b87f0c07522dd3a2

[2022-09-24 11:57] ArthurMa1978 opened #2740 "Pageable operation can't find `NextLink` property"
https://github.com/Azure/azure-rest-api-specs/blob/main/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/preview/2022-06-01-preview/bms.json#L10684

The model `ProtectionIntentResourceList` is inherit from `ResourceList` which contains `nextLink`, but the codegen doesn't check the parent class that throw `NextLink` property not find error.

[2022-09-24 12:14] ArthurMa1978 opened #2741 "The tag operations can't handle non-return value Update case properly"
If the Update operation of a resource doesn't return the resource data, like this https://github.com/Azure/azure-rest-api-specs/blob/main/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/preview/2022-06-01-preview/bms.json#L147, then the codegen can't generate the right code for `AddTag` operation because it need a return value.

[2022-09-24 14:20] ArthurMa1978 opened #2742 "The `delete` operation can't be renamed"
Like this https://github.com/Azure/azure-rest-api-specs/blob/main/specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/stable/2022-08-01/service.json#L609 which should be renamed to `Purge` .

[2022-09-24 14:21] ArthurMa1978 opened #2743 "The `delete` operation can't be renamed"
Like this https://github.com/Azure/azure-rest-api-specs/blob/main/specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/stable/2022-08-01/service.json#L609 which should be renamed to `Purge` .

[2022-09-26 03:32] Yao725 commented on #2560
Fixed in https://github.com/Azure/autorest.csharp/pull/2633

[2022-09-26 03:32] #2560 closed

[2022-09-26 03:33] #1582 closed

[2022-09-26 03:34] Yao725 commented on #2316
Fixed in https://github.com/Azure/autorest.csharp/pull/2501

[2022-09-26 03:34] #2316 closed

[2022-09-26 05:02] #2690 closed

[2022-09-26 05:03] chunyu3 commented on #2677
This issue is resolved. close it.

[2022-09-26 05:03] #2677 closed

[2022-09-26 05:07] chunyu3 commented on #2336
depend on https://github.com/microsoft/cadl/issues/1068,
https://github.com/microsoft/cadl/issues/1046

[2022-09-26 06:27] #2332 closed

[2022-09-26 06:27] #2716 closed

[2022-09-26 07:09] archerzz commented on #2514
Probably pending on the discuss in https://github.com/Azure/cadl-azure/issues/1787

[2022-09-26 08:56] pshao25 opened #2744 "Design of error response in convenience method"
Cadl:
[code]
This is an operation with no-body successful response and with-model error response. See swagger [here](https://cadlplayground.z22.web.core.windows.net/cadl-azure/?c=aW1wb3J0ICJAY2FkbC1sYW5nL3Jlc3QiOw0KDQp1c2luZyBDYWRsLkh0dHA7DQpAc2VydmljZVZlcnNpb24NCkBkb2MoIklsbHVzdHJhdGVzIGNsaWVudHMgZ2VuZcQSZCB3aXRoIEFwaUtleSBhdXRoZW50aWNhdGlvbi4iKQ0KQHVzZUF1dGgoxiPECzzGC0xvxydoZWFkZXIsICJ4LW1zLWFwa

[2022-09-26 09:59] ArthurMa1978 commented on #2743
dup with https://github.com/Azure/autorest.csharp/issues/2742

[2022-09-26 09:59] #2743 closed

[2022-09-26 10:01] ArthurMa1978 opened #2745 "Support `string` to `integer` format transform"

[2022-09-26 22:26] AlexanderSher commented on #2733
This must be discussed with @KrzysztofCwalina
Specifically, we must decide:
- Would it be a breaking change to add a name to the model
- How to resolve name conflicts if there is a parameter with said name already

[2022-09-26 22:40] heaths opened #2746 "JSON schema for DPG models needs to be documented at all levels for discriminated types"
At some point in spring of 2022 before we shipped the first DPG 1.0 for Cognitive Language Understanding (CLU), outer discriminated types were documented: that is, IIRC, any model type that had a discriminator at level 1 i.e., top-level property. However, many models have discriminators at lower levels and these aren't documented, leaving customers looking at linked documentation, which is why I h

[2022-09-27 01:40] chunyu3 commented on #2619
Convenience method:
- `application/json`
[code]

- other types
[code]

CreateXxxRequest:
[internal HttpMessage CreateAnalyzeBodyRequest(RequestContent content, ContentType contentType, RequestContext context)](https://github.com/Azure/autorest.csharp/blob/bd9e5e7ab713f028076c12e54751364957eea45f/test/TestServerProjectsLowLevel/media_types/Generated/MediaTypesClient.cs#L504)

[2022-09-28 00:40] #2730 closed

[2022-09-28 08:53] ArthurMa1978 opened #2748 "Support header parameter"
https://github.com/Azure/azure-rest-api-specs/blob/main/specification/search/resource-manager/Microsoft.Search/stable/2020-08-01/search.json#L2001

The codegen just ignore this header parameter

[2022-09-29 00:44] chunyu3 commented on #2744
.Net will ignore error model as before.

[2022-09-29 01:10] chunyu3 commented on #2733
@AlexanderSher  will discuss this in archboard meeting: either forbidden the anonymous type in cadl file or provide an convention to name this type.

[2022-09-29 01:13] chunyu3 commented on #2452
@AlexanderSher and @annelo-msft  will discuss this in arch board meeting: clarify the guideline for client constructor , then update analyzer rule to consistent with guideline if needed.

[2022-09-29 01:17] chunyu3 commented on #2450
We will generate those models in a common library(e.g. azure) and import them to SDK libraries.

- reuse already predefined models in azure.core library: need an approach to figure out if there are any mapping type (via compare the schema)
- Add those models in cadl-azure-core gradually. When we find a new type needed, we will add it into the common library.

[2022-09-29 02:05] ArcturusZhang opened #2750 "Make sure the common models could handle nullability properly"
Currently when a property is nullable, and the model inclosing that is replaced by the generator with a common model, for instance, a `SubResource` or `WritableSubResource`, the nullable will not work, and we will have to add a configuration `no-property-type-replacement` as a workaround.
It could be very cumbersome and complicated if similar cases happen multiple times in the same RP. We should m

[2022-09-29 22:33] heaths commented on #2376
Talking with @m-nash offline, I wanted to clarify a few things:

1. This is not blocking. It's a nice-to-have feature ask.
2. It may not be worth spending time on it for swagger-based generators.
3. It'd probably be even easier in Cadl, with decorators (just off the cuff naming) like `@details`, `@example`, etc.;, though, something language-specific (and rather large, most likely) like `@example`

[2022-10-04 22:17] heaths commented on #2482
@archerzz @lirenhe the `maxpagesize` (or, better, `maxPageSize`) shouldn't even be exposed. See https://github.com/Azure/azure-sdk-for-net/issues/29342 for what the .NET architects requested. /cc @KrzysztofCwalina @tg-msft

[2022-10-05 14:53] ChuckJonas commented on #198
Where did you find `--generation1-convenience-client` option?  I don't see any references in the docs...

[2022-10-05 19:07] bcomedian opened #2759 "How to provide Accept header when 'always-create-accept-parameter : false'"

[2022-10-07 15:06] #2726 closed

[2022-10-08 07:22] archerzz opened #2753 "[dpg][cadl]: intermediate type should be unwrapped"
**Describe the issue or request**

For CADL definitions like this:

[code]

The type of the property `Location` will be deduced as a new type, like below in JSON:
[code]
That will create a new type in the model definition. However, `nextLink` should be `string`. We should unwrap the intermediate types to the final types.

[code]

[2022-10-08 08:22] lirenhe commented on #2744
@pshao25, do we have a service that is impacted by this behaviour?

[2022-10-08 08:28] lirenhe commented on #2724
@markm77, please follow https://github.com/Azure/autorest.csharp/issues/198#issuecomment-1249312968 to workaround this problem.
We shall have a formal document to describe different behaviours and our recommendations.

[2022-10-08 09:25] #2732 closed

[2022-10-08 21:04] asklar opened #2754 "Can't generate from openAI spec?"
**Describe the issue or request**
I'm trying to generate C#  code for OpenAI's openapi spec:
`autorest --input-file=https://raw.githubusercontent.com/openai/openai-openapi/master/openapi.yaml --csharp`

but I hit a bunch of errors... am I using autorest wrong?
![image](https://user-images.githubusercontent.com/22989529/194727751-386b9e46-19a9-4a36-a028-df79e579fd4c.png)

[2022-10-09 07:10] lirenhe opened #2755 "Support cadl-project.yaml file for emitter configurations"
Based on the recent discussion, CADL folder will have a “cadl-project.yaml” file with the CADL, to store some of the configuration aspect specific to the emitter.

See:
https://gist.github.com/iscai-msft/21f57725eb2bf92d260548b147ee5937
https://microsoft.github.io/cadl/docs/extending-cadl/emitters-basics/#custom-configuration-options

Need to do the following:

- [ ] Update emitter to support  cad

[2022-10-09 07:16] ArthurMa1978 opened #2756 "All `*Collection` models for pageable operation should be renamed to `*ListResult`"
All these models are internal class in generated code, but might be dup name with the corresponding resource

[2022-10-10 05:24] lirenhe commented on #2733
The PR has been there for 2 weeks, do we have a conclusion on how  to handle this?  @chunyu3   @AlexanderSher

[2022-10-10 05:26] lirenhe commented on #2450
@chunyu3,  could you create a list of items that we already supported and plan to support for 2.0beta2?

[2022-10-10 05:47] chunyu3 commented on #2336
Wait for the cadl compiler and rest new version to include the resolve of issue 1068 and 1046

[2022-10-10 05:50] pshao25 commented on #2744
Yes. This is very common.

E.g., [anomalydetector](https://github.com/Azure/azure-rest-api-specs/blob/f47eeea0df3a5a81ea42945ed96290b3fb8e588a/specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/MultivariateAnomalyDetector.json#L187-L203) has 204 response without body and a user-defined error response.

In the last sync meeting, we decide just fix 1&2 and still throw internal er

[2022-10-10 05:52] lirenhe commented on #2403
We should follow https://github.com/Azure/cadl-azure/blob/main/packages/cadl-azure-core/README.md#define-clients-and-subclients for the definition of client/subclient.

[2022-10-10 15:35] fengzhou-msft commented on #2707
We can now use configurations to fix this issue. Please check [DataShare autorest.md](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/datashare/Azure.ResourceManager.DataShare/src/autorest.md) (search for `ListInvitations`).

[2022-10-10 15:35] #2707 closed

[2022-10-11 04:57] #2753 closed

[2022-10-11 22:54] johanste commented on #2464
What is the use case for this?

[2022-10-11 23:50] heaths opened #2762 "DPG does not generate ASP.NET extension methods"
The DPG code generator does not generate ASP.NET extension methods as we did for HLCs e.g., https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretClientBuilderExtensions.cs. Seems as part of shift-left, these should be generated automatically to avoid needing to hand-code them for each and every DPG SDK.

[2022-10-12 01:34] chunyu3 commented on #2493
https://github.com/microsoft/cadl/blob/0a528079a54ab74de2614cbdd59eb4a907d58e05/docs/tutorial.md#headers

[2022-10-12 02:21] chunyu3 commented on #2590
Cadl already support to provide multiple security schemas, and it will generate clients to support multiple authentication now.

[2022-10-12 02:27] chunyu3 commented on #2606
duplicate with https://github.com/Azure/autorest.csharp/issues/2755

[2022-10-12 02:34] chunyu3 commented on #2607
dependent on https://github.com/microsoft/cadl/issues/851

[2022-10-12 02:36] chunyu3 commented on #2608
duplicate https://github.com/Azure/autorest.csharp/issues/2698

[2022-10-12 02:40] chunyu3 commented on #2539
emitter will auto emit Configuration.json from cadl-project.yaml or cadl options.

[2022-10-12 02:43] chunyu3 commented on #2687
we will auto gen Configuration.json from cadl and cadl-project.yaml. Then this issue will be resolved. duplicate https://github.com/Azure/autorest.csharp/issues/2755

[2022-10-12 03:41] chunyu3 commented on #2619
@AlexanderSher has discussed this in arch-board meeting, and decide that for application/json type, convenience method will use the `model` as input parameter, other content-types, it will use  `Stream` as input parameter. But the `Stream` should be seekable, codegen will generate validate for it , if user pass a non-seekable stream, throw exception.

[2022-10-12 05:19] chunyu3 commented on #2719
@AlexanderSher has discussed this in the archboard meeting. Current m4 does not support this multiple return-type for different success status codes. Need to discuss with stewardship board if we need support this for cadl and explicit it in guideline

[2022-10-12 05:24] chunyu3 commented on #2720
rest client of sdk/tables/Azure.Data.tables is an example which is auto-generated by HLC

[2022-10-12 05:28] chunyu3 commented on #2720
Need to contact cadl team about it.

[2022-10-12 05:30] pshao25 commented on #2673
@m-nash Would you take a look at this design?

[2022-10-12 05:31] pshao25 commented on #2626
@m-nash Would you take a look at the desgin above?

[2022-10-12 05:32] chunyu3 commented on #2733
@AlexanderSher has discussed in the archboard meeting, and decide we will not allow the anonymous cadl type in Azure Cadl. A lint rule will be added in the Azure cadl to enforce every model should have a name.

[2022-10-12 06:38] pshao25 commented on #2464
@AlexanderSher
Th difference between a compiler and a tool is: the autorest tool could automatically look for the .net codegen plugin and call it, while compiler cannot do this. The expectation to use cadl compiler is: user provides the cadl spec and a package.json to indicate the compiler version and library version. The libraries should be loaded locally, so we could not pack them (and codegen d

[2022-10-12 06:55] #2698 closed

[2022-10-12 09:10] lirenhe commented on #2331
@archerzz , could you help to verify the generated code to make sure LRO, Paging etc are expected?  thanks

[2022-10-12 09:20] lirenhe commented on #2492
CADL is defining the merge-patch body in https://github.com/Azure/cadl-azure/blob/main/packages/cadl-azure-core/lib/operations.cadl#L49-L64

Foundations.ResourceCreateOrUpdateModel applies to the resource type, inside the definition, CADL  remove  properties with read visibility and make all the other required properties as optional.

https://github.com/Azure/cadl-azure/blob/main/packages/cadl-azu

[2022-10-12 09:53] lirenhe commented on #2474
@archerzz, is this work already completed?

[2022-10-12 09:54] lirenhe commented on #2468
@archerzz, could you follow up on the remaining items?  Thanks

[2022-10-12 09:58] lirenhe commented on #1659
Do we still need this?

[2022-10-12 09:59] lirenhe commented on #1658
Do we still need this?

[2022-10-12 10:08] lirenhe commented on #2715
@chunyu3, could you update this item about what part is implemented?  Thanks

[2022-10-13 00:46] heaths opened #2765 "LROs do not send the `Accept` request header"
In the course of resolving #2726 we found that LROs are not - and seemingly never have - sent the `Accept` header. While this doesn't appear to practically cause any problem, it seems that we should to be technically correct. That said, we will have to re-record a lot of sessions.

/cc @AlexanderSher @KrzysztofCwalina @tg-msft

[2022-10-13 03:34] ShivangiReja opened #2766 "AutoRest C# generator generating DPG code with compilation errors"
We are trying to generate DPG code for the swaggers listed [here](https://github.com/Azure/azure-sdk-for-net/blob/2ed2c1d5aa3576f556216a9da95600fa8b52a71f/sdk/devcenter/Azure.Developer.DevCenter/src/autorest.md) and we are getting [these](https://dev.azure.com/azure-sdk/public/_build/results?buildId=1914087&view=logs&j=b70e5e73-bbb6-5567-0939-8415943fadb9&t=a880e989-7d1a-5c96-a41f-d540b383cc43&l=6

[2022-10-13 04:59] #2715 closed

[2022-10-13 05:01] chunyu3 commented on #2654
duplicate with https://github.com/Azure/autorest.csharp/issues/2336

[2022-10-13 05:01] #2654 closed

[2022-10-13 08:01] lirenhe commented on #2704
@chunyu3 , please upgrade cadl related libraries for the Oct release.

[2022-10-14 01:57] #2766 closed

[2022-10-14 02:18] lirenhe commented on #2452
@chunyu3, @pshao25,  seems this problem happens for multiple service teams, is there any conclusion related to those analyzer rule?

cc @m-nash

[2022-10-14 02:23] lirenhe commented on #2762
@heaths,  could you help to provide more context on why we need to 'generate ASP.NET extension methods' as part of the DPG?  For the current services onboard to DPG, we didn't got that ask, is it specific for KeyVault?

cc @m-nash

[2022-10-14 08:36] lirenhe commented on #2550
@pshao25, seems only 9&10 left and they are not the scope for beta2,   I plan to move this item to 2.0GA.
Is there anything else left for this item?

[2022-10-14 08:46] lirenhe commented on #2338
Move the work of fixed enum into #2591  and close this item

[2022-10-14 08:46] #2338 closed

[2022-10-14 08:48] lirenhe commented on #2591
@archerzz, I expect we shall get it after @m-nash finishes the first step of the refactoring.
Please help to verify the generated code is expected.

[2022-10-14 08:50] lirenhe commented on #2673
@pshao25, Python is also working on this so you may check with them as well.
We also need support the return type is the array of models.

[2022-10-14 08:53] lirenhe commented on #2461
@ArcturusZhang, as you are working on the similar item for mgmt. SDK, assign this to you.  Nice to have for 2.0beta2

[2022-10-14 08:56] lirenhe commented on #2576
@AlexanderSher, will you work on this item?

[2022-10-14 08:57] lirenhe commented on #2402
@archerzz, please verify the code generated  with the latest codegen.
Can we make this as part of the CI?

[2022-10-14 09:04] lirenhe commented on #2584
@pshao25 , assign this item to you and please help to check the comments above.

[2022-10-14 17:53] heaths commented on #2762
All SDKs are supposed to have ASP.NET extension methods: https://azure.github.io/azure-sdk/dotnet_implementation.html#integration-with-aspnet-core. These allow customers to register clients as services for ASP.NET apps - really, any app that uses the .NET configuration builder facilities, which are more commonly used for ASP.NET but may also be used for MAUI apps, etc.

If we'll be generating DPG

[2022-10-17 05:47] dw511214992 opened #2778 "[CADL DPG] Generate Codes in sdk-folder defined in cadl-project.yaml"
Example `cadl-project.yaml`:
[code]
When generating codes, the emitter should generate codes in `sdk-folder` when the option is defined.

[2022-10-17 06:40] ArcturusZhang commented on #2450
We currently have two possible approaches to implement this:
1. If we have the plan to let Azure.Core also be generated from its corresponding cadl file (for instance, generate the models and interfaces in `Azure.Core` from `cadl-azure-core`), we could do this replacement in the emitter, so that the generator does not have to worry about which model I need to replace with something else, and which

[2022-10-17 10:27] pshao25 commented on #2550
None of the cald files in cadl-ranch is ready. Not sure if @iscai-msft would update them?

[2022-10-18 10:41] pshao25 opened #2783 "Add a flag in cadl-project.yaml to autogenerate configuration.json"
As titled.

[2022-10-19 03:11] #2755 closed

[2022-10-19 03:11] #2539 closed

[2022-10-19 05:25] lirenhe opened #2784 "Generate .NET client from Autonomous Development Platform Cadl API description"
This issue tracks validating that a DPG generator can generate the ADP client, models, convinience APIs and protocol methods from https://github.com/Azure/azure-rest-api-specs-pr/pull/9236/files, to achieve parity with what DPG v1.0 can generate from ADP OpenAPI description from the same PR

Inputs:
https://github.com/Azure/azure-rest-api-specs-pr/pull/9236/files

[2022-10-19 05:52] lirenhe commented on #2621
Move to GA

[2022-10-19 06:10] ArcturusZhang commented on #2461
Related work on mgmt plane tracking in this issue: https://github.com/Azure/autorest.csharp/issues/2112

[2022-10-19 06:24] ArcturusZhang commented on #2493
A design example in HLC: https://github.com/Azure/autorest.csharp/blob/200a18bea7d78deaed4b77239507b7fc0e7b0abd/test/TestProjects/HeaderCollectionPrefix/Generated/HeaderCollectionPrefixClient.cs#L43

The input header will be generated as signature parameter (it is optional if the header is optional, it is required if the header is required). We already have a rule how the parameters are sorted whi

[2022-10-19 07:52] Yao725 opened #2786 "Ensure the data model inherits from common model when properties match"
This issue comes from the RP `DataProtectionBackup`, where we have a model called DppBaseResource and it has following definition in swagger:
[code]

DppBaseResource is used directly as the resource data in this RP, and the expected generated code should be:
[code]

But currently we will generate the code as shown below, therefore we need a fix in our implementation logic.
[code]

[2022-10-19 08:31] lirenhe commented on #2608
close it as duplicate

[2022-10-19 08:31] #2608 closed

[2022-10-19 08:32] lirenhe commented on #2613
Let's set the goal of 60% coverage at minimal and 80% at ideal.

[2022-10-19 08:32] lirenhe commented on #2606
Close it as duplicate

[2022-10-19 08:32] #2606 closed

[2022-10-19 08:34] lirenhe commented on #2687
@archerzz, could you help to verify this problem is resolved?

[2022-10-19 08:47] lirenhe opened #2787 "Update dotnet DPG GetStarted Guide to support CADL+DPG"
Please update https://aka.ms/azsdk/dpcodegen/net to include the process for CADL+DPG

[2022-10-20 02:15] asklar commented on #2754
fixed in openai-openapi 🎉

[2022-10-20 02:15] #2754 closed

[2022-10-20 02:20] Yao725 opened #2790 "Cannot generate scope method when this method doesn't belong to any resources in mgmt plane"
It looks like the generator omitted some scope methods when we cannot find the resource corresponding to these methods in the current RP. Below are some examples about the methods that we missed.
[HelpRP](https://github.com/Azure/azure-sdk-for-net-pr/pull/1839):
[code]
Cunsumption:
[code]

[2022-10-20 03:18] archerzz opened #2791 "test(common): add assertions to check generated model codes"
**Describe the issue or request**

We have a problem in current test cases regarding generated CADL model codes. Too many literal strings are used, so that it's hard to maintain the test cases once there is any change in generator. We should transform the comparison of the generated codes to a set of semantic assertions.

**Describe your ideas for solutions**

Since we need to check the implementa

[2022-10-20 03:22] HarveyLink opened #2792 "[Feature REQ] Handle optional properties nullable"
**Describe the issue or request**
Currently we have the nullable filter to handle the null value in test.
But customer may still hit the null exception in their debug.
Since we can't make our test cover all the properties and add `x-nullable`, it's more reasonable for us to have a design change in code gen to make the properties not marked as `requried` not throw null exception.

[2022-10-20 05:06] #2744 closed

[2022-10-20 08:56] chunyu3 commented on #2778
https://gist.github.com/dw511214992/de785084657716b59e19a99970800544#3-generateoutputjson

[2022-10-20 09:11] lirenhe opened #2794 "Apply cadl-dpg package into dotnet Emitter for @convenienceAPI"
https://www.npmjs.com/package/@azure-tools/cadl-dpg is released

- [ ] apply that library into dotnet emitter.
- [ ] Update the existing cadl samples to use the new decorator.

Please also consider updating some test cases in CADL ranch with the new decorator

[2022-10-20 09:18] PGPoulsen opened #2798 "Does not generate domain model classes"
Before asking the question:

- [x] have you checked the [faq](https://github.com/Azure/autorest/tree/main/docs/faq.md), the documentation in the [docs folder](https://github.com/Azure/autorest/tree/main/docs) and couldn't find the information there
- [x] have you checked existing issues for a similar question?

Hi

I'm trying to follow the example to generate a client. (https://github.com/Azure/au

[2022-10-20 10:20] archerzz commented on #2591
It doesn't work as expected... We could not generate fixed enum type for the following definition:
[code]

The direct root cause is in the definition of `InputEnumTypeValue`. Looks like it only supports string as value: https://github.com/Azure/autorest.csharp/blob/c157c68ff50ed5ffaa3b3e38c37bbc878b669ea4/src/AutoRest.CSharp/Common/Input/Inputs.cs#L195

The JSON parser codes confirm that: https://

[2022-10-20 10:40] archerzz commented on #2591
I'll try the following solution:
- change `InputEnumTypeValue.Value` to `object`
- change JSON parsing logic to support integer value as enum value
- update `ModelWriter` to add a special path for integer enum
- shall we generate serialization class for integer enum? I think it should be supported naturally, but need to test both read and write.

[2022-10-20 10:56] archerzz commented on #2591
Looks like we might have another way pass in the string form of enum values.
- that will generate the enum types and corresponding serialization classes below (which could be excessive)
[code]
- the problem is in the generated parent class serialization/de-serialization codes, it cannot treat the child value correctly.
[code]
- maybe we can fix that problem, but is this way extensible to other fur

[2022-10-20 14:23] Sandido commented on #208
@mmacy , @danieljurek ,
Did the CDATA solution progress beyond theory?

[2022-10-20 15:57] m-nash commented on #2591
Have we explored making InputEnumTypeValue a generic type and restricting it to primitives?  Then InputEnumTypeValue.Value would be T.  Object allows for a lot of flexibility and I prefer to have compile time restrictions as much as possible.

If the set of "types" is small enough perhaps we could just have 2 types InputEnumTypeStringValue and InputEnumTypeIntValue?  This is extensible in the sens

[2022-10-20 16:13] mmacy commented on #208
@Sandido Not that I'm aware of, no. I haven't worked directly with OpenAPI specs for several years and have sadly never found the time to test it out. 🙁

[2022-10-21 01:34] archerzz commented on #2591
@m-nash Thanks for your suggestion. From [CADL doc](https://microsoft.github.io/cadl/docs/language-basics/enums/), right now 3 types of value are supported: string, integer and float.

[2022-10-21 03:05] lirenhe commented on #2798
Please use this flag  'generation1-convenience-client' and have a try.

[2022-10-21 04:39] archerzz commented on #2784
I tried with cadl compiler `0.3.5` (we didn't upgrade to the latest due to some issue in test server).

The only problem met during code generation is the `@service` decorator which is only supported in the latest version of cadl compiler. I split it into the old decorators `@serviceTitle` and `@serviceVersion`.

The generated codes are here: https://github.com/archerzz/autorest.csharp/tree/dpg/ad

[2022-10-21 05:50] PGPoulsen commented on #2798
Adding --generation1-convenience-client seemed to do the trick. Thanks :)

[2022-10-21 05:50] #2798 closed

[2022-10-21 08:16] lirenhe opened #2800 "CADL: The mixed use of template & non-template for operations would case codegen error"
Repro:
1. Use the attached package
2. Execute npm install & cadl compile . --emit @azure-tools/cadl-csharp

expect:
Code are generated successfully.

Actual:
Unhandled exception. System.ArgumentException: An item with the same key has already been added. Key: apiVersion

If I removed the line of  `op delete is ResourceDelete<Pet>;`, compile succeed again.

[petstore.zip](https://github.com/Azure/a

[2022-10-21 08:33] xboxeer opened #2802 "[Feature Req] Change the way we handle empty string value in deserialization"
**Describe the issue or request**
In this github issue, https://github.com/Azure/azure-sdk-for-net/issues/31701, the keyvault id is an empty string, and SDK is throwing exception that the value cannot be null for property resourceId

**Describe your ideas for solutions**
We should either not throwing exception when keyvault id is empty string, or we should throw the exception before we are trying

[2022-10-21 08:34] xboxeer commented on #2802
CC @ArcturusZhang

[2022-10-21 08:47] lirenhe opened #2803 "CADL: Models generated from templates should not be put into Azure.Core"
From the APIView generated by ADP https://github.com/Azure/azure-rest-api-specs-pr/pull/9236/files
A couple of classes are created under the namespace of Azure.Core.

https://apiview.dev/Assemblies/Review/5b7d805ce109492094e0f8dc193b11f4#Azure.Core

We need to design a better way to handle models generated from templates

[2022-10-21 10:10] jacobmohl commented on #2375
Any news on this subject?

[2022-10-22 08:31] adstep commented on #2158
Our team is also looking for extended support for tracking long running operations. We run a distributed service and the instance that would be polling for the LRO might not be the one that started it.

[2022-10-24 03:00] ArcturusZhang commented on #2493
Current design in protocol method:
The following swagger:
[code]
Will generate:
[code]

1. Header parameters are generated as method parameters.
2. Required headers are required parameters. It goes before the body parameter
3. Optional headers are optional parameters. It goes after the body parameter

[2022-10-24 03:20] pshao25 opened #2804 "Make code structure to mono repo"
Because of this requirement https://github.com/Azure/autorest.csharp/issues/2584, we make @autorest.csharp as a denpendency of emitter. This makes the e2e development and release process a disaster. We need to:
1. Change the code repo structure to mono repo
2. Change this [line](https://github.com/Azure/autorest.csharp/blob/1f55931671671946fe42c350c8608e6a4ab643a5/eng/Generation.psm1#L79) to make

[2022-10-24 03:23] #2584 closed

[2022-10-24 06:03] #2280 closed

[2022-10-24 06:35] archerzz commented on #2474
Yes. See the test case: https://github.com/Azure/autorest.csharp/blob/feature/v3/test/AutoRest.TestServerLowLevel.Tests/LowLevel/Generation/DictionaryWritingTests.cs

[2022-10-24 06:36] #2474 closed

[2022-10-24 11:12] #2336 closed

[2022-10-24 15:09] jsquire commented on #208
I'm classifying this as v3, as any fixes will be applied to this version.

[2022-10-25 02:58] archerzz commented on #2687
Verified. For CADL project, `LibraryName` will be first used to compose the `ClientOptions` class name. So if I try the following command:

I'll get `LedgerClientOptions` class for both `ConfidentialLedgerClient` and `IdentityClient`.

[2022-10-25 02:58] #2687 closed

[2022-10-25 06:07] ArcturusZhang commented on #2493
Design proposal:
1. For protocol methods: we do not need to do anything on the API. RawResponse already contains headers. But we could refine the samples/documents on the protocol methods to add the information about headers in response.
2. For convenience methods: Do something similar with what HLC is doing in its RestOperations
For instance, for cadl models:
[code]
We should generate:
[code]
Des

[2022-10-25 07:19] lirenhe commented on #2682
I would like to see the design signoff for 'the target type is complex type'    @chunyu3

[2022-10-25 07:41] #2794 closed

[2022-10-25 08:29] archerzz commented on #2402
- generated codes: https://github.com/archerzz/autorest.csharp/tree/dpg/samples/confidential-ledger/samples/ConfidentialLedger
- API view: https://apiview.dev/Assemblies/Review/259f891e90934da4a7855efc7c137d5f

[2022-10-25 08:52] Yao725 opened #2808 "Update the ctor when the flattened single property is mandatory"
In mgmt plane, we introduced a feature called single property flatten, which means that we will flatten the property when the type of this property only contains one property. This could help improve the customer usage, but I noticed that when the flattened property is a required property, we forget to update the ctor to replace it. Considering that this property is internal now, it will cause pro

[2022-10-25 13:23] #1932 closed

[2022-10-26 00:10] lirenhe commented on #2464
Duplicate of https://github.com/Azure/autorest.csharp/issues/2585

[2022-10-26 00:10] #2464 closed

[2022-10-26 00:26] lirenhe commented on #2484
https://gist.github.com/m-nash/7cd8e251257c5883fe71d46960e6ceec

[2022-10-26 00:26] lirenhe commented on #2484
Close the design

[2022-10-26 00:26] #2484 closed

[2022-10-26 00:30] lirenhe commented on #2493
We need to update the dotnet guide on how to handle headers in the response

[2022-10-26 00:45] chunyu3 commented on #2576
Move to GA

[2022-10-26 00:48] chunyu3 commented on #2402
Verified. confirm with @annelo-msft

[2022-10-26 00:53] chunyu3 commented on #2613
break down to test categories to follow up.

[2022-10-26 01:00] chunyu3 commented on #2626
.Net does not support this. Will add lint-rule to prevent to define a property with the same name as model.

[2022-10-26 01:19] chunyu3 commented on #2626
Filed an issue https://github.com/microsoft/cadl/issues/1234 to cadl-lint

[2022-10-26 01:21] chunyu3 commented on #2403
There will be an discuss about the client/subclients for cadl.
https://microsoft-my.sharepoint.com/:w:/p/micnash/EQy3VOXwm1dHj58veWPz6VIB1QrNe5Bvm6wGw_FlCsg5Fw?e=NvQilV&isSPOFile=1&clickparams=eyJBcHBOYW1lIjoiVGVhbXMtRGVza3RvcCIsIkFwcFZlcnNpb24iOiIyNy8yMjEwMTQwNjMwMCIsIkhhc0ZlZGVyYXRlZFVzZXIiOmZhbHNlfQ%3D%3D

depend on the final design.

[2022-10-26 01:41] lirenhe commented on #2494
Reopen this as there are still work needed.   @ArcturusZhang, could you add more detail on this?  Thanks

[2022-10-26 09:01] ArcturusZhang opened #2811 "[TestGen] Fix issues in sample generation"
Current implementation of sample generation has plenty of bugs.
Here are some of them:
1, primitive types cannot be properly recognized and will be treated as string.
2. Sample generation is currently using anonymous object as parameter of the assignment. This is not robust enough. Because the json that being assigned could contain keys that collide with dotnet keyword (cannot be a property). We n

[2022-10-26 09:27] xboxeer opened #2813 "[Feature Req]Support sample generation for DPG generated data plane SDK"
**Describe the issue or request**
Support sample generation for DPG generated data plane SDK

**Describe your ideas for solutions**
Support sample generation for DPG generated data plane SDK

**Add labels**
As appropriate, select a label to describe how hard the issue is to work
around or how hard it would be to do without a particular feature that
could help make it easier. These labels start wit

[2022-10-26 09:36] xboxeer commented on #2813
CC @lirenhe @ArthurMa1978

[2022-10-26 21:36] m-nash commented on #2591
@archerzz does CADL provide a @flags attribute for enums?  If so we might want to have our generator add the `[Flags]` attribute to those.

[2022-10-27 00:04] m-nash opened #2814 "Create mapping of current configuration locations and where they should go in cadl world"

[2022-10-27 07:44] lirenhe commented on #2813
We may not do it before GA.  Assign to @ArcturusZhang as he also works with sample generation in mgmt. SDK

[2022-10-27 08:35] #2778 closed

[2022-10-28 06:38] #2153 closed

[2022-10-28 06:38] #2099 closed

[2022-10-28 08:57] pshao25 opened #2817 "Add convenience API of paging methods"
Example of protocol method:
[code]

Corresponding convenience method:
[code]

[2022-10-28 10:35] ArcturusZhang commented on #2803
Specific to this issue, these classes might be completely unnecessary. These Paged<T> classes will never be needed in our convenient pageable method if we implement them in this way: https://github.com/Azure/autorest.csharp/pull/2819
Because the `Paged<T>` class has already be parsed in the protocol method by hardcoding the property names `value` and `nextLink`.

[2022-10-31 03:12] ArcturusZhang commented on #2493
Well according to some investigation I did for HLC, HLC now just ignores the headers.
The corresponding rest operation is returning a ResponseWithHeaders<TBody, THeaders>:
https://github.com/Azure/autorest.csharp/blob/6d12091707a2ee7b0a2449a01ab4d069c7d1d938/test/TestProjects/ExtensionClientName/Generated/AutoRestParameterFlatteningRestClient.cs#L87
But in the corresponding client method, HLC clie

[2022-10-31 05:26] ArcturusZhang commented on #2800
Root cause: when we are mixing the template and non-template operations, the generated api-version parameter is different in the emitter output.
In the `read` or `create` operation (non-template), the api-version parameter has the name `apiVersion`:
[code]
In the `delete` operation (template), the api-version parameter has the name `api-version`:
[code]

[2022-10-31 06:01] chunyu3 opened #2820 "The method name is not updated for GetXXX/ListXXX operatoin"
Generate  [ConfidentialLedge](https://github.com/Azure/cadl-azure/tree/main/packages/cadl-samples/data-plane/confidentialledger) project, the method `listXXX` (e.g. listLedgerEntries) does not change to `GetXXX`

[2022-10-31 07:06] archerzz commented on #2331
The latest CADL files are in this PR: https://github.com/Azure/azure-rest-api-specs/pull/21010
However, right now the CADL files do not compile due to various errors.

[2022-10-31 08:31] chunyu3 commented on #2820
https://azure.github.io/azure-sdk/dotnet_introduction.html#naming

[2022-10-31 11:35] chunyu3 commented on #2783
Configuration.json is intermediate file to store sdk automation, and it should be emitted. No need to make it configurable via a flag. close this

[2022-10-31 11:35] #2783 closed

[2022-10-31 11:53] chunyu3 commented on #2600
duplicate https://github.com/Azure/autorest.csharp/issues/2585

[2022-10-31 13:14] lirenhe commented on #2820
The same problem also exist in ADP   https://apiview.dev/Assemblies/Review/5b7d805ce109492094e0f8dc193b11f4#ADP.DiscoveryResultUploadsClient

[2022-10-31 13:16] lirenhe commented on #2817
@pshao25,  please confirm about the right approach of implementing this.

[2022-10-31 14:59] RallyX26 opened #2830 "AutoRest fails on custom HTTP status codes"

[2022-10-31 17:21] m-nash commented on #208
@danieljurek can we validate that manually making those encoding changes yields the expected result on the docs page?

[2022-10-31 23:41] joseharriaga opened #2823 "Enabling polymorphic pattern for models in data plane"
Using the Text Analytics client library as an example, REST API version 2022-10-01-preview introduced a new, read-only, polymorphic type. The base class is called `BaseResolution`, and it has multiple derived classes, such as `AgeResolution`, `DateTimeResolution`, `LengthResolution`, etc.  Today, the generated model has a few issues:
- `BaseResolution` should be generated as an _abstract_ class.
-

[2022-11-01 05:33] pshao25 commented on #2673
We do have many real services who takes array as response/input, both in HLC and management plane, here is an example in HLC which has array input and output:
https://github.com/Azure/azure-sdk-for-net/blob/84ec01fbfe07cefd19b0a1501a98d80dbe53b8bb/sdk/digitaltwins/Azure.DigitalTwins.Core/src/Generated/DigitalTwinModelsRestClient.cs#L81

[2022-11-01 05:52] chunyu3 commented on #2673
@m-nash will discuss with Arch board if we will wrap the method to pageable method if the response is an array.

[2022-11-01 05:54] chunyu3 commented on #2682
It is not expected behavior to define two models with the same schema. If it is for naming, use re-naming mechanism. @chunyu3  will confirm the behavior of cadl compiler if two different models schemas will return, if so, need to talk with cadl team about if it is correct or not.

[2022-11-01 05:55] chunyu3 commented on #2817
@pshao25 will help to do bench mark performance test to verify which implementation has the better performance, calling protocol method and serialize results or call rest api and serialize result page by page as mgmt-plan does.

[2022-11-01 08:39] #2585 closed

[2022-11-01 08:39] #2693 closed

[2022-11-01 09:15] chunyu3 commented on #2682
cadl compile will emit two models with the same schema.

[2022-11-01 14:58] Semptra opened #2825 "autorest does not generate interfaces for API clients"
**Describe the issue or request**
autorest does not generate interfaces for API clients.

**Describe your ideas for solutions**

Currently, when I'm trying to generate an API client using `autorest` and `@autorest/csharp`, only the class is generated, e.g.

[code]

It would be nice to have an interface to be generated for such client, e.g.

[code]

This will make it much easier to write unit tests

[2022-11-01 20:33] heaths opened #2826 "Extensible enums should use case-sensitive comparisons (with possible opt-out)"
Originating from Azure/azure-sdk-for-net#29141 and after discussions with @KrzysztofCwalina we should actually be using case-sensitive comparisons for extensible enums as exemplified in [out guidelines](https://azure.github.io/azure-sdk/dotnet_implementation.html#dotnet-enums) but with the stipulation from Azure/azure-sdk#1251:

Thus, the generate should default to case-sensitive comparisons but i

[2022-11-01 20:56] heaths commented on #2826
For comparison, it seems languages are inconsistent:

1. Python uses case-insensitive comparisons ([example](https://github.com/Azure/azure-sdk-for-python/blob/32f3feb32c88dc6507044294f1e554df06315598/sdk/search/azure-search-documents/azure/search/documents/indexes/_generated/models/_search_client_enums.py))
2. Java uses case-sensitive comparisons ([example](https://cs.github.com/Azure/azure-sdk-f

[2022-11-02 00:05] JoshLove-msft commented on #2415
We are hitting this same issue for Schema Registry where an operation produces multiple content-types.

[2022-11-02 01:15] chunyu3 commented on #2673
@m-nash has confirmed with Laurent and Krzysztof that we need to support array payload directly:

- There is a cadl lint rule to prevent a raw array be an input body: https://github.com/Azure/cadl-azure/issues/2194
- When response is an array payload, we will wrap it to pageable

[2022-11-02 09:14] pshao25 commented on #2817
Performance result:
![image](https://user-images.githubusercontent.com/97225342/199448107-06087f62-49cb-4e74-958f-b7f62da30c9d.png)
- Data: one page with 1000 items `{ received: "model" }`
- networkLatency: call the local test server on the same machine, test server returns this page with 1000 items
- protocolMethod: call protocol method first and then desiarialize the 1000 items one by one.
- hlc

[2022-11-02 17:43] m-nash commented on #2817
@pshao25  lets remove the network latency as we cannot control that, Use a mock transport so that we are only testing the latency that our code introduces.  At minimum the HLC is allocating 3x less memory which is important as well.

[2022-11-03 08:37] pshao25 commented on #2817
**Test category:**
1. restWrapper: when we call HLC, we parse the whole data by calling the deserialization method.
2. protocol: when we call the protocol method, we will split the whole array into items one by one.
3. protocolWrapperWithAccessToArray: we call protocol method first to split the whole array into items one by one, and then we call the item deserialization method one by one. We call

[2022-11-03 08:55] lirenhe opened #2832 "We should not generate enums by default if there is no convenience API"
From https://apiview.dev/Assemblies/Review/5b7d805ce109492094e0f8dc193b11f4?revisionId=035edfa2ebf24e81bbcf5bc3a14fa226&doc=False,  even there is no convenience API, we still see a couple of Enum generated.

There enum are not used so we should not generate code from them.

[2022-11-03 09:35] pshao25 commented on #2817
Code for reference:
[code]

[2022-11-03 14:27] tracyboehrer opened #2833 "Proper use of AdditionalProperties"
What is the proper way to handle AdditionalProperties.  Nothing I've tried in OpenAPI actually works as expected.

When I use:

[code]

or

[code]

autorest will add

[code]

To the class.  But this doesn't work with System.Text.Json.JsonSerializer apparently.

We've stopped using the OpenAPI notation in the definition, and just manually include

[code]

[2022-11-04 02:08] lirenhe commented on #2826
@archerzz, please help to follow up

[2022-11-04 02:42] archerzz commented on #2826
Given .Net SDK has a much larger user base, I'm not sure if we should do this.

I think the case-insensitive comparison works fine for happy path.
- **Assumption**: There won't be enum values like `Abc` and `abc` defined for one enum. I think that can almost be guaranteed.
- For serialization:
  - For predefined values: they are from swagger definition, and we don't change the case. If the service

[2022-11-04 03:00] ArthurMa1978 commented on #2826
This is shared by all .net languages, since other languages are using case-sensitive comparisons it should be ok for .net, but not sure why it's insensitive now.

[2022-11-04 18:07] heaths commented on #2826
I'll add you two the thread I have with architects, who are (mostly) pushing for consistent case-sensitive comparisons across the board. Note that our guidelines for .NET do say to use case-sensitive comparisons, which @KrzysztofCwalina is maintaining should be our default.

[2022-11-04 19:05] m-nash opened #2835 "Add ability to defer processing in protocol Pageable methods"
With [this PR](https://github.com/Azure/autorest.csharp/issues/2817#issuecomment-1301785102) we did some perf analysis on the cost of calling having the convenience method wrap the protocol method vs directly call the rest api like other HLC clients do in dataplane / mgmt plane.

We found that since there is a double conversion happening we are adding about 50% additional time and 50% additional m

[2022-11-04 19:13] m-nash commented on #2817
@pshao25 thanks a ton for the detailed analysis this was very helpful.  I talked with @KrzysztofCwalina and we decided for simplicity in our first iteration of dpg we will utilize the existing method writers to write convenience methods the same way we do any other hlc client dataplane/mgmtplane.  In the future once we catch up on our project timelines we can tackle this issue here which talks abo

[2022-11-07 03:59] marche0133 opened #2836 "Exception: Unable to find a model or framework type that corresponds to CommunicationIdentifier"
**Describe the issue or request**
Exception: Unable to find a model or framework type that corresponds to CommunicationIdentifier

**Describe your ideas for solutions**
Change the property's name **identifier** in definition **CallParticipant** to another name, it will work. I feel like identifier is auto linked to CommunicationIdentifier somehow?
If put same property **identifier** in other defin

[2022-11-07 09:29] pshao25 opened #2839 "Breaking change when adding a new optional query parameter"
WebPubSub is releasing its new version by adding a new optional parameter.
V1 API:
[code]
V2 API:
[code]
A new optional `filter` is added. According to the [guidance](https://github.com/Azure/azure-sdk-for-net/blob/b6f2858a40b796eb077a9579c604dd84926abcbd/doc/DataPlaneCodeGeneration/ServiceDrivenEvolution.md), we need to add back the V1 version API to avoid breaking change.

However, if there is a

[2022-11-07 09:31] pshao25 commented on #2839
My proposal is we add back the API like:
[code]
Make the optional parameters in the V1 API to required and add one API per one optional parameter.

[2022-11-07 10:11] lirenhe commented on #2839
@pshao25, I think we should follow https://github.com/Azure/azure-sdk-for-net/blob/main/doc/DataPlaneCodeGeneration/ServiceDrivenEvolution.md for the solution and is there any difficulty for service team to follow this guidence?

[2022-11-07 10:12] lirenhe commented on #2839
@m-nash , @AlexanderSher,  please let us know if you have any concern with the above approach.

[2022-11-07 10:23] pshao25 commented on #2839
Sorry, my bad. There are no issues in the documentation above, so close this issue.

[2022-11-07 10:23] #2839 closed

[2022-11-07 10:24] pshao25 commented on #2839
The doc is correct. I think it should no difficulties for service team to follow.

[2022-11-08 01:41] chunyu3 commented on #2835
We plane to implement this on February next year.

[2022-11-08 07:29] lirenhe opened #2840 "Generate .NET client from Anomaly Detector (aka MVAD) Cadl API description"
This issue tracks validating that a DPG generator can generate the MVAD client, models, convinience APIs and protocol methods from https://github.com/Azure/azure-rest-api-specs/tree/feature/anomaly-detector-cadl/specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/cadl, to achieve parity with what DPG v1.0 can generate from MVAD OpenAPI description.

Inputs:
https://github.com/Az

[2022-11-08 07:55] ArcturusZhang opened #2841 "[DPG] Introduce the `Internalizer` and `Remover` from mgmt plane to DPG to minimize the public API"
The internalizer will make the models not using by any public API `internal`, which hides the class from the public API.
The remover will remove the unused models.

[2022-11-08 07:56] pshao25 commented on #2817
Here is what we could add for a paging operation:
[code]
What we need to pay attention:
1. Except the paging method itself, we need to add two helper methods `GetLedgerEntryPageAsync` and `GetLedgerEntryNextPageAsync`. If we decide to make it public, we should review the name.
2. The return type of these two helper methods is `CustomPage`, which holds the actual data `LedgerEntry`. Its structure i

[2022-11-08 07:57] ArcturusZhang commented on #2803
Taking (2) as initial approach of resolving this. Tracking in https://github.com/Azure/autorest.csharp/issues/2841

[2022-11-08 18:40] marche0133 commented on #2836
Resolved, because we have same name custom model in Models, and that one has CommunicationIdentifier that autorest cannot ref.

[2022-11-08 19:51] marche0133 commented on #2836
The issue is because this model is not in project folder but in communication common folder `sdk/communication/Azure.Communication.Common/src/CommunicationIdentifier.cs` which cause autorest cannot find this reference.

[2022-11-09 06:45] #2820 closed

[2022-11-09 09:14] pshao25 opened #2845 "Handle API version in path"
This is how AnomalyDetector defines its api version: https://github.com/Azure/azure-rest-api-specs/blob/e31f00452cccdb245af15f2e5aa6d6849d995b37/specification/cognitiveservices/data-plane/AnomalyDetector/stable/v1.1/cadl/main.cadl#L7-L22. API version is defined as a client parameter and there is no @serviceVersion decorator.
[code]

Question:
1. We don't know the default value of service version n

[2022-11-09 09:27] pshao25 commented on #2840
We need to fix:
1. https://github.com/Azure/autorest.csharp/issues/2845
2. https://github.com/Azure/autorest.csharp/issues/2832
3.

[2022-11-09 20:02] heaths opened #2846 "Suggestion: Delegate de/serialization to those classes that define properties being de/serialized"
Our current code generation duplicates quite a bit of code in derivative model classes for polymorphic types. Instead, as is typical of polymorphism, it would be good to consider delegating sole responsibility to serialize and deserialize properties to those classes that define them. This is pretty much what we do in the Key Vault SDK for .NET's code base, which predated code gen so we had to writ

[2022-11-10 04:59] chunyu3 opened #2848 "[Track] Use getApiVersion and getApiVersionParameter API to emit apiversion parameter"
Update to use `getApiVersion` and `getApiVersionParameter` in azure-dpg to identify the apiVersion parameter and its values.

[2022-11-10 05:00] chunyu3 commented on #2845
There will be API getApiVersion and getApiVersionParameter in azure-dpg which we will use to get the apiVersion value and the parameter. Now we will implement in the emitter.

#2 identify apiVersion parameter by name and type: 'ApiVersion' if path parameter, 'api-version' if query parameter.

When above apis are implemented in azure-dpg, update to use them. File issue https://github.com/Azure/auto

[2022-11-10 05:50] #2600 closed

[2022-11-10 08:19] yifanz0 opened #2850 "Cannot install Autorest 2.3.90"
**Describe the issue or request**
We're trying to generate Storage SDK by the following commands -
autorest --reset
autorest --use:@microsoft.azure/autorest.csharp@2.3.90
autorest.cmd README.md --version=v2

However the second command `autorest --use:@microsoft.azure/autorest.csharp@2.3.90` would never finish running.
We had to force quit the command and generate the code directly, and sometimes t

[2022-11-10 14:52] danieljurek commented on #208
@mmacy -- Did you do some testing around these changes that could validate @m-nash's question?

[2022-11-11 05:40] lirenhe opened #2853 "Enable E2E test cases for discriminator from CADL input"
After code refactoring, we should have the discriminator support for CADL input.
We need to enable test cases to verify this behaviour e2e.

- [x] Update PetStore for simple e2e test for discriminator
          @discriminator("kind")
          model Pet {}

          model Cat extends Pet {
            kind: "cat";
          }

- [x] Enable CADL-ranch test support for discriminator

[2022-11-11 06:02] lirenhe commented on #2514
Updated based on the discussion.

- [ ]  Have the configuration of 'namespace' in cadl-project.yaml
- [ ]  model-namespace in cadl-project.yaml, default 'true' to put models in a `.Models` namespace by default. Else, put models in the root namespace.

As this would impact all SDKs, please prioritize this work.

[2022-11-11 06:18] #2832 closed

[2022-11-11 18:26] christothes opened #2856 "DPG generator performs more restrictive validation for path parameters"
I came across a DPG generator issue that is a breaking behavior change from the HLC generator. It appears that we generate a `AssertNotNullOrEmpty` where we used to generate only a null check for required path parameters.

Here is the one I encountered:
[DPG method](https://github.com/Azure/azure-sdk-for-net/blob/a221639e4f47bbd495fe79096137cf56fdbf2e9b/sdk/tables/Azure.Data.Tables/src/Generated/T

[2022-11-11 23:18] m-nash opened #2857 "[Feature Req] Enable abstract base class for dataplane by default"
Right now dataplane does not default to abstract for base classes of polymorphic sets.  We should use logic similar to [this](https://github.com/Azure/autorest.csharp/blob/feature/v3/src/AutoRest.CSharp/Common/Output/Models/Types/ModelTypeProvider.cs#L46).  As soon as we do this all types that are already GAd will become abstract which is a breaking change so we will have to add the [suppress-abst

[2022-11-12 08:01] #2724 closed

[2022-11-12 11:42] markm77 commented on #2724
Thanks very much @lirenhe  for the reply. I will try your workaround soon when next creating models. I look forward to your document and (hopefully) continued support for model generation which is really very useful for the community. BR, Mark

[2022-11-14 04:48] lirenhe opened #2858 "The property marked as @key in CADL should be readonly in the generated models"
https://microsoft.github.io/cadl/docs/standard-library/built-in-decorators/#key
@key - mark a model property as the key to identify instances of that type

So this means the property could not be set at the client level and it should be readonly.

Please help to verify this behavior.

[2022-11-14 06:45] lirenhe commented on #2857
@archerzz, could you check how much effort needed to support this? Thanks

[2022-11-16 16:28] lmazuel commented on #1658
I believe we're in full CADL now, and won't do this anymore

[2022-11-16 16:30] lmazuel commented on #1659
This issue was about versionning support in spirit (a new parameter added will auto-create an overload), so I think we still need it indeed.

cc @m-nash

[2022-11-16 20:31] nascosto opened #2864 ".NET 7 failure with polymorphic types"
**Describe the issue or request**
I just updated my SDK version to 7.0 and now am seeing exceptions during C# client generation. 6.0 SDK, Java, and TypeScript all work.

[code]

I've included two version of the simplified spec:
[openapi-fails.json.txt](https://github.com/Azure/autorest.csharp/files/10025450/openapi-fails.json.txt)
[openapi-succeeds.json.txt](https://github.com/Azure/autorest.cshar

[2022-11-17 03:19] ArthurMa1978 commented on #2216
Might cause breaking change, revisit if it worth to do it now

[2022-11-17 03:57] archerzz commented on #2709
`AuthMethod` here is of type [EmailChannelAuthMethod](https://github.com/Azure/azure-sdk-for-net/blob/ae614e3f5288b603a5e0060b7c9fe06386664fa1/sdk/botservice/Azure.ResourceManager.BotService/src/Generated/Models/EmailChannelAuthMethod.cs#LL11C22-L11C22) which is a fixed int enum by [its swagger definition](https://github.com/Azure/azure-rest-api-specs/blob/af1be2677e619e483210064ff658e62ec25053aa/

[2022-11-17 06:42] #2591 closed

[2022-11-17 06:45] archerzz commented on #2784
PR on `azure-sdk-for-net`: https://github.com/Azure/azure-sdk-for-net/issues/32466

[2022-11-17 06:47] archerzz commented on #2709
Support of fixed int enum has been resolved in https://github.com/Azure/autorest.csharp/pull/2818

I did a local test, and the `EmailChannelAuthMethod` was correctly generated.

[2022-11-17 07:09] lirenhe commented on #2800
No real service is impacted by this, move to GA

[2022-11-17 08:11] #2682 closed

[2022-11-17 23:01] brrusino opened #2866 "Unclear usage with ISO 8601 TimeSpan strings"

[2022-11-18 04:03] archerzz commented on #2784
New PR of ADP CADL on `azure-rest-api-specs-pr`: https://github.com/Azure/azure-rest-api-specs-pr/pull/9634

[2022-11-18 07:51] ArcturusZhang opened #2868 "Migrate to the official `arm-id` format instead of `x-ms-format`"
Since modeler v4 introduced the new format `arm-id` in its schema, we should migrate to that in our generator and change every usage of `x-ms-format: arm-id` in the existing SDK configurations to the new official one as well.

This includes the following:
1. Update `rename-mapping` format changes to redirect to change format to `arm-id` instead of adding `x-ms-format: arm-id` anymore.
2. Clean up

[2022-11-18 21:33] JoshLove-msft opened #2869 "The nullability in WriteObjectValue is incorrect"
The nullability in WriteObjectValue is apparently incorrect - it does support nulls: https://github.com/Azure/autorest.csharp/blob/feature/v3/src/assets/Generator.Shared/Utf8JsonWriterExtensions.cs#L69

_Originally posted by @JoshLove-msft in https://github.com/Azure/azure-sdk-for-net/pull/32527#discussion_r1025912168_

[2022-11-21 05:50] lirenhe commented on #2349
@ArcturusZhang, please help to check whether there are any additional work needed.

[2022-11-21 06:02] #2817 closed

[2022-11-21 08:17] lirenhe commented on #2363
@ArcturusZhang , with your work of internalizer and remover, I believe this problem should be resolved.
Could you help to summerize the design and put it in https://github.com/Azure/autorest.csharp/tree/feature/v3/docs
Thanks

[2022-11-21 12:47] lirenhe commented on #2787
The onboarding guide is updated for dotnet.

[2022-11-21 12:47] #2787 closed

[2022-11-22 01:31] JoshLove-msft opened #2870 "Consider updating converter handling to always use converter if present"
Currently the converter check in [JsonCodeWriterExtensions](https://github.com/Azure/autorest.csharp/blob/feature/v3/src/AutoRest.CSharp/Common/Generation/Writers/JsonCodeWriterExtensions.cs) comes after we check for framework types like Etag which also have JsonConverters defined. We should consider consolidating this so that we first call [IsCustomJsonConverterAdded](https://github.com/Azure/aut

[2022-11-22 01:57] JoshLove-msft opened #2871 "Re-evaluate handling for x-ms-format-element-type usages"
Currently we special case the property usage logic in [SchemaUsageProvider](https://github.com/Azure/autorest.csharp/pull/2852/files#diff-bbd3cfb0b57a67aec658bdaeddf9e1ad3cc1d9959a73ba073230f39eb20dbd1fR144) to handle adding the correct usages for the type specified in x-ms-format-element-type. @m-nash suggested that it would be better to include this in the [transform class](https://github.com/Az

[2022-11-22 05:32] pshao25 opened #2872 "Support union operator in cadl"
An example: https://github.com/Azure/cadl-ranch/blob/7435655e82b732b3573379f76e0e613423d244e9/packages/cadl-ranch-specs/http/resiliency/srv-driven-2/main.cadl#L109-L115

A fix for reference: https://github.com/Azure/autorest.csharp/pull/2660/

[2022-11-22 10:00] ArcturusZhang opened #2874 "[HLC] Should we include the discriminator in the model factory method?"
In the generated model factory of HLC packages, we have the discriminator property in the method signature.
For instance
https://github.com/Azure/autorest.csharp/blob/0eaeaf1237588923a1a6bd35693e4e94e27d23d9/test/TestServerProjects/body-complex/Generated/AutoRestComplexTestServiceModelFactory.cs#L70
where the `kind` of type `MyKind` is the discriminator.
Should it be in the signature? The discrimi

[2022-11-22 16:29] #2514 closed

[2022-11-22 16:29] #2848 closed

[2022-11-22 17:47] m-nash commented on #2874
For the concrete types the discriminator should not be in the model factory signature.  There should be a way to create and mimic "unknown" values so we should probably also have one factory method that returns the base type and that one should take the discriminator as a parameter.

[2022-11-22 21:35] JoshLove-msft commented on #2871
I ended up using the suggested approach here - https://github.com/Azure/autorest.csharp/pull/2852/commits/898c8e0c417cf9d0d3558ff69206d911ab1cc124

[2022-11-22 21:35] #2871 closed

[2022-11-23 13:53] #2841 closed

[2022-11-24 05:51] pshao25 opened #2877 "Required field in non-roundtrip model becomes readonly"
Cadl:
[code]
Expected: both of these two fields could be set.
Actual: `value` becomes readonly so cannot be set.

Root cause: [here](https://github.com/Azure/autorest.csharp/blob/787427f570ab913fd4c0eb642f417fba892e2d55/src/AutoRest.CSharp/Common/Output/Models/Types/ModelTypeProviderFields.cs#L93-L95) if a field is required in input/output model, it is set as readonly.

[2022-11-24 08:21] #2840 closed

[2022-11-24 08:26] chunyu3 commented on #2803
Paged<T> will be internal now.

[2022-11-24 08:49] lirenhe opened #2879 "Resolve record test failure for MVAD in CADL+DPG flow"
From service team:

"_After trying to replace the endpoint and key in recorded json file, we think that these 2 problems are caused by recent azure core version upgrade in main branch https://github.com/Azure/azure-sdk-for-net/commit/19e5837f0dba54582650579b17f7f3bbeb21b6ce.

Problems:

In record mode, variables are updated, yet entry is empty in recorded json file.
In playback mode, new azure cor

[2022-11-24 08:53] lirenhe commented on #2612
You could reference how JS adding unit test. https://github.com/Azure/autorest.typescript/tree/main/packages/autorest.typescript/test/unit

[2022-11-24 08:58] chunyu3 opened #2880 "When Client parameter Type is enum or model, codegen throw exception"
When the type of client parameter is enum or model, authorest.csharp throw exception.

e.g.
When define apiVersion as an enum APIVersion
[code]

exception occur:
![image](https://user-images.githubusercontent.com/10458143/203737392-1f5777dc-191a-453f-bc54-9da2bcc9b7f0.png)

[2022-11-24 09:04] chunyu3 commented on #2880
Root cause: when create parameter, it will change the type of parameter from enum type to the type of enumValueType(e.g. string), model => {object}. https://github.com/Azure/autorest.csharp/blob/787427f570ab913fd4c0eb642f417fba892e2d55/src/AutoRest.CSharp/LowLevel/Output/OperationMethodChainBuilder.cs#L359

https://github.com/Azure/autorest.csharp/blob/787427f570ab913fd4c0eb642f417fba892e2d55/src/

[2022-11-24 13:14] archerzz opened #2882 "defect(cadl): usage of model is incorrect if it inherits a model"
## Problem

See this [input model](https://github.com/Azure/autorest.csharp/blob/05205d82be7a708200197aacccb439a58e0f030b/test/TestProjects/Models-Cadl/Models-Cadl.cadl#L156). If it extends `BaseModel`, then in the generated `cadl.json` its usage is `RoundTrip`.

[2022-11-24 14:34] ArthurMa1978 commented on #2461
Close it as this is tracked by feature https://github.com/Azure/autorest.csharp/issues/2112.

[2022-11-26 05:28] dolly22 opened #2884 "Autorest should not inject copyright header to generated files"
**Describe the issue or request**
Autorest csharp `v3` injects fixed copyright header to all generated c# files. This licensing and copyright message is unexpected.

[code]

**Describe your ideas for solutions**

It would be nice to be able to customize generated files header or at least change it to something more appropriate as `v2` generator injected.

[code]

[2022-11-28 08:36] xboxeer commented on #2884
@dolly22 May I know why do you want to remove these copy right information? Are you using autorest to generate SDK for your own API?

[2022-11-28 08:58] lirenhe opened #2885 "CADL+DPG: The generated csproj work could not compile"
repo steps:
1. use the following PR and https://github.com/Azure/azure-rest-api-specs/pull/21525
2. call the command:   npx cadl compile --emit @azure-tools/cadl-csharp --output-path "path" client.cadl --option @azure-tools/cadl-csharp.new-project=true
3. invoke dotnet build on the generated code.

Expect:  the generated code could compile successfully.
Actual: Got the following error:
error
: The

[2022-11-28 10:43] dolly22 commented on #2884
@xboxeer Yes, we are currently using autorest `v2` to generate clients (C# and typescript) for our own api. I'm trying to upgrade and use autorest `v3`.

[2022-11-29 00:23] JoshLove-msft opened #2886 "Investigate whether GetRawText should be used instead of ToString for generated deserialization code"
For code paths where we are calling into JsonSerializer.Deserialize, we would need to use GetRawText if the underlying JSON type can be something other than object. This has come up in https://github.com/Azure/autorest.csharp/pull/2852.

In that PR, I've updated the specific case that DFE falls under, but there are several other places in JsonCodeWriterExtensions where we pass ToString to JsonSeri

[2022-11-29 02:16] m-nash opened #2887 "Use overloads when both protocol and convenience are new at the same time"
If we are creating the protocol and convenience methods at the same time they should both use the same name and the overload that takes RequestContent should not have optional parameters.

As an example with this comment https://apiview.dev/Assemblies/Review/0eacd79245e14c6fa88d5991aac2e02f#5fdf7c9f2e154394a459e56ea4a166ce the two method would be
[code]

[2022-11-29 02:19] m-nash opened #2888 "Determine why apiVersion shows up in the constructor parameters here instead of the Options class"
As stated in this comment here https://apiview.dev/Assemblies/Review/0eacd79245e14c6fa88d5991aac2e02f#fa96b04973f74ca38b2082968ac3e7a6 we should not have the api version on the ctor it should be passable via the options ctor which it already is [here](https://apiview.dev/Assemblies/Review/0eacd79245e14c6fa88d5991aac2e02f#Azure.AI.AnomalyDetector.AnomalyDetectorClientOptions).

[2022-11-29 02:20] m-nash opened #2889 "Update cadl-project.yaml to not use model namespace"
https://apiview.dev/Assemblies/Review/0eacd79245e14c6fa88d5991aac2e02f#f7b11600102e4ee9893d074c4c3cfd00

[2022-11-29 02:29] m-nash opened #2890 "Define how to deal with options bag defined in cadl"
Cadl wants to be able to define an options bag which can have parameters from different parts of the http request.  Typically we always received these as separate path parameters vs body parameters vs query parameters etc.

We will need to create special handling for this as our serialization writers etc will not know which properties are which.

[2022-11-29 04:36] JoshLove-msft opened #2891 "Debug nullability check is incorrect"
This is supposed to be [thrown](https://github.com/Azure/autorest.csharp/blob/feature/v3/src/AutoRest.CSharp/Common/Generation/Writers/JsonCodeWriterExtensions.cs#L312) for only non-nullable properties, but there is at least one case in DataFactory where it is thrown for a nullable property. Specifically it occurs when recording this test when run in debug build - https://github.com/Azure/azure-sd

[2022-11-29 04:45] lirenhe commented on #2889
@pshao25, as this is just a configuration change, could you help to handle is ASAP? You may also update the existing samples/tests to remove the additional 'models' in the namespace.

[2022-11-29 04:47] lirenhe commented on #2450
@ArcturusZhang, I reopened this one and could you help to
handle the ask in https://apiview.dev/Assemblies/Review/0eacd79245e14c6fa88d5991aac2e02f#914b8217b76c4d9096cd8b0f0af50e30

[2022-11-29 04:52] lirenhe commented on #2461
Reopen it as it is targeting for DPG.

[2022-11-29 05:10] #2709 closed

[2022-11-29 05:52] archerzz opened #2892 "bug(cadl): emitter cannot run in .net framework > 3.1"
**Describe the issue or request**

If the build environment only have .net framework (> 3.1) installed, the emitter would not run correctly. See [here](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=2013389&view=logs&j=142050dd-a864-5517-4538-299af2281757&t=ff27076c-12ed-51ee-74f1-097f997a27cd&l=1015)

[code]

**Describe your ideas for solutions**

`--roll-forward Major` should be

[2022-11-29 06:56] ArcturusZhang opened #2894 "[PostProcessor] We should remove the base class and all its derived class when all of them is not used"
Example: https://github.com/Azure/autorest.csharp/blob/85fe919aa9cd5d86f55407e892c9641c106daa29/test/TestProjects/Inheritance/Generated/Models/BaseClassWithEnumDiscriminator.cs#L15

This class has been changed to internal because it is used but internally used. But in the example above, it is actually not internally used, therefore the correct result should be: these classes are removed.
We need t

[2022-11-29 07:39] #2892 closed

[2022-11-29 08:01] fengzhou-msft opened #2895 "Int enum bug in generated serialization code"
In `OperationalInsightsClusterSku.Serialization.cs`, the following generated code cannot compile:
[code]

It should be `writer.WriteNumberValue(Capacity.Value.ToSerialInt64());`.

Original swagger: https://github.com/Azure/azure-rest-api-specs/blob/7d5d1db0c45d6fe0934c97b6a6f9bb34112d42d1/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2021-06-01/Clusters.js

[2022-11-29 08:13] chunyu3 opened #2896 "Accept input parameter of @convenienceAPI decorator to override method name"
When input parameter of @convenienceAPI decorator is not null, override the method name.

[code]

the input paramter `convenienceGet` will be the method name.

[2022-11-29 09:20] #2889 closed, assigned to pshao25

[2022-11-29 19:23] m-nash commented on #2461
depends on https://github.com/Azure/autorest.csharp/pull/2831

[2022-11-30 04:30] ArcturusZhang opened #2898 "[MQ] Introduce more flexibility in serialization method and deserialization method"
Now the generator only generates one method for serialization and one method for deserialization.
This is not very convenient when we make some customized code to change one of the property and it requires changes in the serialization code. In this case we will have to copy all the method of serialization or deserialization to our customized code, and if in the next version, this class gets anothe

[2022-11-30 05:36] #2853 closed

[2022-11-30 05:45] #2363 closed

[2022-11-30 05:45] lirenhe commented on #2361
close it as resolved

[2022-11-30 05:45] #2361 closed

[2022-11-30 05:47] ArthurMa1978 commented on #1900
As we have already release 80+ stable RPs, so it's hard to make such a big change that will introduce breaking changes.
Put to backlog, need further discussion.

[2022-11-30 18:57] imakhlin opened #2900 "CSharp emitter configuration option `generateConvenienceAPI` is not working as expected"
Version: "@azure-tools/cadl-csharp": "0.1.9"

Example configuration: [`cadl-project.json`](https://github.com/Azure/azure-rest-api-specs-pr/blob/d1d0190ee459c556815771c7d1516a6cfc0c07aa/specification/adp/DataManagement/cadl-project.yaml)

    library-name: "test.lib"
    namespace: "test.namespace"
    sdk-folder: "../../clients/some-path"
    clear-output-folder: true
    new-project: true
    ge